.btn
  display: inline-block
  padding: 8px 19px 7px 19px
  border-radius: 22px
  text-transform: uppercase
  font-size: 12px
  line-height: 15px
  font-weight: bold
  color: $purple
  text-decoration: none
  position: relative
  background-color: #fff

  &::after
    content: ""
    position: absolute
    z-index: -1
    border-radius: 22px
    top: -2px
    left: -2px
    bottom: -2px
    right: -2px
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

  &_size
    &_l
      padding: 14px 18px
    &_xl
      padding: 15px 26px

  &_theme
    &_gradient
      color: #fff
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

      &:hover
        opacity: 0.5

      &-disable
        cursor: default

  &_with-arrow
    width: 100%
    text-align: center
    padding: 15px 15px 15px 13px
    position: relative

    &__svg
      position: absolute
      top: 13px
      right: 12px
      fill: white

.link_theme_lux
  font-size: 12px
  text-transform: uppercase
  color: #bc9cff
  font-weight: 700
  line-height: 15px
  text-decoration: none
