include ../btn/btn

mixin header(status, navigations)
  header.header
    .header__container
      a.header__logo(href="/index.pug"): img(src="../../logo.svg", alt="Toxin")
      a.js-header__burger(href="#!")
      nav.header__nav
        ul.header__site-nav
          li.header__item
            mark
              a.header__link(href="../ui-kit/ui-kit.pug") UI Компоненты
          each item in navigations
            if item.submenu
              li.header__item.header__item_has-submenu
                a.header__link(href="#") #{item.name}
            else
              li.header__item
                a.header__link(href="#") #{item.name}
        ul.header__user-nav
          if status === 'non-authorized'
            li.header__item
              +btn({text: 'Войти', href: './../sign-in/sign-in.pug'})
            li.header__item
              +btn({text: 'Зарегистрироваться', theme: 'gradient', href: "./../sign-up/sign-up.pug"})
          else if status === 'authorized'
            li.header__item
              span.header__user-name
                a(href="#!").header__link Александр Вологдин
