@import "../btn/btn"

.header
  box-shadow: 0 0.7143rem 1.4286rem $accent5
  background-color: #fff
  padding: 1.0714rem 0

  &__container
    @include container
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    flex-flow: row wrap

  &__link
    text-decoration: none

  &__nav
    display: flex
    flex-flow: row wrap
    z-index: 0

    @media screen and ( max-width: 66.0714rem )
      margin-top: 1.4286rem
      align-items: flex-start
      border-top: 0.2143rem solid $purple
      padding-top: 1.4286rem

      .header__item
        margin-bottom: 1.0714rem
        width: 100%

    @media screen and ( max-width: 23.6429rem )
      flex-direction: column

  &__site-nav
    display: flex
    align-items: center
    margin-left: auto
    padding: 0

    @media screen and ( max-width: 66.0714rem )
      display: none
      order: 0
      margin-left: 0

    .header__item
      &:nth-child(2)
        margin-right: 2rem

      &:nth-child(5)
        margin-right: 2.0714rem

  &__user-nav
    z-index: 0
    padding: 0

    @media screen and ( max-width: 66.0714rem )
      display: none
      margin-top: 0.3571rem

    @media screen and ( max-width: 23.6429rem )
      .header__item
        margin-bottom: 0.7143rem

        &:last-child
          margin-bottom: 0

    .header__item:last-child
      margin-right: 0

  &__logo
    margin-right: 1.4286rem

  &__item
    display: inline-block
    margin-right: 1.4286rem

    &_has-submenu
      & > .header__link::after
        content: ""
        display: inline-block
        width: 0.6429rem
        height: 0.6429rem
        margin-left: 0.6429rem
        margin-bottom: -0.1429rem
        border: 0.1429rem solid $accent50
        border-top: 0
        border-left: 0
        transform: translateY(-50%) rotate(45deg)

      &:hover .header__link::after
        border: 0.1429rem solid $accent25
        border-top: 0
        border-left: 0

  &__link
    &:not(.btn)
      color: $accent50

    &:hover
      color: $accent25

  &__user-name
    border-left: 0.0714rem solid $accent10
    padding: 0.4286rem 0
    padding-left: 2.1429rem

.js-header__burger
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
  padding: 1.4286rem
  position: relative
  border-radius: 50%
  display: none
  transition: .3s ease

  @media screen and ( max-width: 66.0714rem )
    display: block
    margin-left: auto

  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    width: 1.4286rem
    height: 0.2143rem
    border-radius: 0.1429rem
    background-color: #fff
    transform: translate(-50%,-50%)
    box-shadow: 0 -0.4286rem 0 0 #fff, 0 0.4286rem 0 0 #fff
    transition: .3s ease

  &_opened
    &::before
      box-shadow: none
      transform: translate(-50%,-50%) rotate(-45deg)
      transition: .3s ease

    &::after
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 1.4286rem
      height: 0.2143rem
      background-color: #fff
      transform: translate(-50%,-50%) rotate(-135deg)
      transition: .3s ease
      border-radius: 0.1429rem

#ui-kit
  position: absolute
  left: -10.7143rem
  font-weight: bold
  text-decoration: none
  color: gray
