@import "../buttons/buttons"

.header
  box-shadow: 0 10px 20px $accent5
  background-color: #fff
  padding: 15px 0

  &__container
    @include container
    display: flex
    align-items: center
    justify-content: space-between
    flex-flow: row wrap

  &__nav
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-flow: row wrap
    z-index: 0

    @media screen and ( max-width: 925px )
      margin-top: 20px
      align-items: flex-start
      border-top: 3px solid $purple
      padding-top: 20px

      .header__item
        margin-bottom: 15px
        width: 100%

    @media screen and ( max-width: 331px )
      flex-direction: column

  &__site-nav
    display: flex
    align-items: center
    margin-left: auto

    @media screen and ( max-width: 925px )
      display: none
      order: 0
      margin-left: 0

    .header__item
      &:nth-child(2)
        margin-right: 28px

      &:nth-child(5)
        margin-right: 29px

  &__user-nav
    z-index: 0

    @media screen and ( max-width: 925px )
      display: none
      margin-top: 5px

    @media screen and ( max-width: 331px )
      .header__item
        margin-bottom: 10px

        &:last-child
          margin-bottom: 0

    .header__item:last-child
      margin-right: 0

  &__logo
    margin-right: 20px

  &__item
    display: inline-block
    margin-right: 20px

    &_has-submenu
      & > .header__link::after
        content: ""
        display: inline-block
        width: 9px
        height: 9px
        margin-left: 9px
        margin-bottom: -2px
        border: 2px solid $accent50
        border-top: 0
        border-left: 0
        transform: translateY(-50%) rotate(45deg)

      &:hover .header__link::after
        border: 2px solid $accent25
        border-top: 0
        border-left: 0

  &__link
    &:not(.btn)
      color: $accent50

    &:hover
      color: $accent25



  &__burger
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    padding: 20px
    position: relative
    border-radius: 50%
    display: none
    transition: .3s ease

    @media screen and ( max-width: 925px )
      display: block
      margin-left: auto

    &::before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 20px
      height: 3px
      border-radius: 2px
      background-color: #fff
      transform: translate(-50%,-50%)
      box-shadow: 0 -6px 0 0 #fff, 0 6px 0 0 #fff
      transition: .3s ease

    &_opened
      &::before
        box-shadow: none
        transform: translate(-50%,-50%) rotate(-45deg)
        transition: .3s ease

      &::after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        width: 20px
        height: 3px
        background-color: #fff
        transform: translate(-50%,-50%) rotate(-135deg)
        transition: .3s ease
        border-radius: 2px

  &__user-name
    border-left: 1px solid $accent10
    padding: 6px 0
    padding-left: 30px


