mixin advantage({ico, title, text})
  li.advantage
    span.advantage__ico
      i(class="material-icons")= ico
    div(class="advantage__content")
        b.advantage__title= title
        p.advantage__text= text
