mixin sign-up()
    form.user-form
        .user-form__wrapper
            h1.user-form__title Регистрация аккаунта
            .user-form__item#personData
                +field({
                  placeholder: 'Имя',
                  name: 'name',
                  labelledby: 'personData'
                })
                +field({
                  placeholder: 'Фамилия',
                  name: 'surname',
                  labelledby: 'personData'
                })
                +radio({
                  text: 'Мужчина',
                  id: 'man',
                  name: 'sex',
                  value: 'man',
                  checked: true
                })
                +radio({
                  text: 'Женщина',
                  id: 'woman',
                  name: 'sex',
                  value: 'woman'
                })
            .user-form__item
                .user-form__birthday
                    +field({
                      theme: 'with-label',
                      className: 'user-form',
                      text: 'Дата рождения',
                      placeholder: "ДД.ММ.ГГГГ",
                      name: "birthday",
                      type: 'date'
                    })
            .user-form__item#signUpData
                label.user-form__label Данные для входа в сервис
                +field({
                  placeholder: 'Email',
                  name: 'email',
                  type: 'email',
                  labelledby: 'signUpData'
                })
                +field({
                  placeholder: 'Пароль',
                  name: 'password',
                  type: 'password',
                  labelledby: 'signUpData'
                })
                +toggle('Получать спецпредложения', 'receive-offers')
            .user-form__item
                .user-form__btn-buy
                    +btn({
                      text: 'Перейти к оплате',
                      theme: 'arrow'
                    })
            .user-form__sign-in
                p.user-form__question Уже есть аккаунт на Toxin
                +btn({
                  text: 'Войти',
                  size: 'xl',
                  href: "/../sign-in/sign-in.pug"
                })
