.ui-kit__section
    .header-footer
        img.ui-kit__logo(src="img/logo_min.svg", alt="logo")
        .header-non-authorized
            .section__item
                include ../../../components/header/header-non-authorized
        .header-authorized
            .section__item
                include ../../../components/header/header-authorized
        .footer-rich
            .section__item
                include ../../../components/footer/footer
        .footer-poor
            .section__item
                include ../../../components/footer/footer-poor

