.ui-kit__section
    .header-footer
        img.ui-kit__logo(src="img/logo_min.svg", alt="logo")
        .header-non-authorized
            .section__item
                +header('non-authorized',[
                  {
                    name: 'О нас'
                  },
                  {
                    name: 'Услуги',
                    submenu: true
                  },
                  {
                    name: 'Вакансии'
                  },
                  {
                    name: 'Новости',
                  },
                  {
                    name: 'Соглашения',
                    submenu: true
                  },
                ])
        .header-authorized
            .section__item
                +header('authorized',[
                  {
                    name: 'О нас'
                  },
                  {
                    name: 'Услуги',
                    submenu: true
                  },
                  {
                    name: 'Вакансии'
                  },
                  {
                    name: 'Новости',
                  },
                  {
                    name: 'Соглашения',
                    submenu: true
                  },
                ])
        .footer-rich
            .section__item
                include ../../../components/footer/footer
        .footer-poor
            .section__item
                include ../../../components/footer/footer-poor

