extends ../template-base

block title
  title Отель «Toxin» | №888 Люкс 9 990₽ в сутки
  
block styles
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="page-room.sass")


block content
  include ../mixins-pug
  
  include ../../components/header/header-non-authorized
    
  main.page-room
    .gallery
      figure.gallery__item.gallery__item--1
        img.gallery__img(src="img/image.jpg", alt="Фотография номера")
      figure.gallery__item.gallery__item--2
        img.gallery__img(src="img/image-2.jpg", alt="Фотография номера")
      figure.gallery__item.gallery__item--3
        img.gallery__img(src="img/image-3.jpg", alt="Фотография номера")
      
    .page-room__details
      .container
        .page-room__info-grid
          .page-room__advan-list
            h2.page-room__info-title Сведения о номере
            ul.advantages
              li.advantages__item
                +advantages({
                  ico: "insert_emoticon",
                  title: "Комфорт",
                  text: "Шумопоглощающие стены"
                })
              li.advantages__item
                +advantages({
                  ico: "location_city",
                  title: "Удобство",
                  text: "Окно в каждой из спален"
                })
              li.advantages__item
                +advantages({
                  ico: "whatshot",
                  title: "Уют",
                  text: "Номер оснащен камином"
                })
          .page-room__impressions
            h2.page-room__info-title Впечатления от номера
            .donut
              .donut__circle
                include ../../components/donut/donut
              .donut__info
                .donut__char
                  .donut__lap.donut__lap_orange
                  .donut__lap-value Великолепно
                .donut__char
                  .donut__lap.donut__lap_green
                  .donut__lap-value Хорошо
                .donut__char
                  .donut__lap.donut__lap_purple
                  .donut__lap-value Удовлетворительно
                .donut__char
                  .donut__lap.donut__lap_black
                  .donut__lap-value Разочарован
                
          .page-room__reviews
            .page-room__title-group
              h2.page-room__info-title Отзывы посетителей номера
              span.page-room__info-value 2 отзыва
            .reviews
              .reviews__item
                .reviews__dynamics
                  img.reviews__profile-photo(src="img/author-1.jpg")
                  .reviews__likes: +like(12, true)
                .reviews__comment
                  b.reviews__author Мурад Сарафанов
                  .reviews__date 5 дней назад
                  .reviews__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
              .reviews__item
                .reviews__dynamics
                  img.reviews__profile-photo(src="img/author-2.jpg")
                  .reviews__likes: +like(2)
                .reviews__comment
                  b.reviews__author Патрисия Стёклышкова
                  .reviews__date Неделю назад
                  .reviews__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
             
          .page-room__rules
            h2.page-room__info-title Правила
            ul.rules-list
              +bullet-item("Нельзя с питомцами")
              +bullet-item("Без вечеринок и мероприятий")
              +bullet-item("Время прибытия — после 13:00, а выезд до 12:00")
          .page-room__cancel.cancel
            h2.page-room__info-title Отмена
            p.cancel__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        include ../../components/check-form/check-form

              
            

            
          
          
  include ../../components/main-footer/footer
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="../../components/calendar/datepicker.js")
  script(src="page-room.js")
  script(src="../../components/field/dropdown/dropdown.js")
