@import "../../sass/main"
@import "../../components/header/header"
@import "../../components/footer/footer"
@import "../../components/field/field"
@import "../../components/field/dropdown/dropdown"
@import "../../components/calendar/datepicker"
@import "../../components/donut/donut"
@import "../../components/buttons/like/like"
@import "../../components/advantages/advantages"
@import "../../components/reviews/reviews"
@import "../../components/bullet-list/bullet-list"
@import "../../components/check-form/check-form"

// Галлерея
.gallery
  display: grid
  grid-template-columns: auto auto auto
  grid-template-rows: auto auto
  // padding: 0 30px

.gallery__img
  width: 100%
  height: 100%

.gallery__item--1
  grid-column: 1 / 3
  grid-row: 1 / 3

.gallery__item
  overflow: hidden

.gallery__img
  transition: 0.5s
  &:hover
    transform: scale(1.1)
    transition: 1s

// Детали номера

.page-room__details
  margin: 70px 0

.page-room__details
  .container
    display: grid
    grid-template-columns: 1fr 1fr minmax(auto, 380px)
    grid-column-gap: 70px

.page-room__info-title
  margin-bottom: 20px

.page-room__info-grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 17px
  grid-row-gap: 34px
  grid-column: 1 / 3

// Отзывы посетителей номера

.page-room__reviews
  grid-column: 1 / -1

.page-room__title-group
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  align-items: baseline

// Правила
.page-room__rules
  margin-left: 20px

.cancel__text
  padding-right: 10px
////


@media screen and ( max-width: 1120px )
  .page-room__info-grid
    grid-template-columns: 1fr

@media screen and ( max-width: 853px )
  .page-room__details .container
    grid-gap: 15px
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr))
  
  .page-room__info-grid
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr))

  .check-form
    margin-top: 40px
    margin: 40px auto
  
  .page-room__details
    margin: 20px 0

@media screen and ( max-width: 410px )
  .page-room__title-group
    display: block
    margin-bottom: 20px

    .page-room__info-title
      margin-bottom: 10px
    