extends ../template-base

block title
  title Отель «Toxin» | №888 Люкс 9 990₽ в сутки

block styles
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="page-room.sass")

block content
  main.main
    .page-room
      .gallery
        figure.gallery__item.gallery__item--1
          img.gallery__img(src="img/image.jpg", alt="Фотография номера")
        figure.gallery__item.gallery__item--2
          img.gallery__img(src="img/image-2.jpg", alt="Фотография номера")
        figure.gallery__item.gallery__item--3
          img.gallery__img(src="img/image-3.jpg", alt="Фотография номера")

    .room-details
      .room-details__container
        .room-details__info-grid
          .room-details__advan-list
            h2.room-details__info-title Сведения о номере
            ul.room-details__advantages
              +advantage({
                ico: "insert_emoticon",
                title: "Комфорт",
                text: "Шумопоглощающие стены"
              })
              +advantage({
                ico: "location_city",
                title: "Удобство",
                text: "Окно в каждой из спален"
              })
              +advantage({
                ico: "whatshot",
                title: "Уют",
                text: "Номер оснащен камином"
              })
          .room-details__impressions
            h2.room-details__info-title Впечатления от номера
            +donut({votes: 260})
          .room-details__reviews
            .room-details__title-group
              h2.room-details__info-title Отзывы посетителей номера
              span.room-details__info-value 2 отзыва
            +reviews([{
              avatar: "img/author-1.jpg",
              likes: 12,
              liked: true,
              author: 'Мурад Сарафанов',
              date: '5 дней назад',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
            }, {
              avatar: "img/author-2.jpg",
              likes: 2,
              liked: false,
              author: 'Патрисия Стёклышкова',
              date: 'Неделю назад',
              text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
            }])
          .room-details__rules
            h2.room-details__info-title Правила
            +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
          .room-details__cancel
            h2.room-details__info-title Отмена
            p.room-details__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        +check-form({
          number: 888,
          lux: true,
          payPerDay: 9990,
          days: 4,
          serviceCharge: 0,
          serviceChargeDiscount: 2179,
          additionalServiceCharge: 300
        })

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="page-room.js")
