extends ../template-base

block title
  title Отель «Toxin» | №888 Люкс (подробности номера)
  
block styles
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="page-room.sass")


block content
  include ../mixins-pug
  
  include ../../components/main-header/header
    
  main.page-room
    .gallery
      figure.gallery__item.gallery__item--1
        img.gallery__img(src="img/image.jpg", alt="Фотография номера")
      figure.gallery__item.gallery__item--2
        img.gallery__img(src="img/image 2.jpg", alt="Фотография номера")
      figure.gallery__item.gallery__item--3
        img.gallery__img(src="img/image 3.jpg", alt="Фотография номера")
      
    .page-room__details
      .container
        .page-room__info-grid
          .page-room__advan-list
            h2.page-room__info-title Сведения о номере
            ul.advan-list
              li.advan-list__item
                i.material-icons.advan-list__ico insert_emoticon
                .advan-list__content-wrapper
                  b.advan-list__title Комфорт
                  p.advan-list__text Шумопоглощающие стены
              li.advan-list__item
                i.material-icons.advan-list__ico location_city
                .advan-list__content-wrapper
                  b.advan-list__title Удобство
                  p.advan-list__text Окно в каждой из спален
              li.advan-list__item
                i.material-icons.advan-list__ico whatshot
                .advan-list__content-wrapper
                  b.advan-list__title Уют
                  p.advan-list__text Номер оснащен камином
          .page-room__impressions
            h2.page-room__info-title Впечатления от номера
            .donut
              .donut__circle
                include ../../components/donut/donut
              .donut__info
                .donut__char
                  .donut__lap.donut__lap_orange
                  .donut__lap-value Великолепно
                .donut__char
                  .donut__lap.donut__lap_green
                  .donut__lap-value Хорошо
                .donut__char
                  .donut__lap.donut__lap_purple
                  .donut__lap-value Удовлетворительно
                .donut__char
                  .donut__lap.donut__lap_black
                  .donut__lap-value Разочарован
                
          .page-room__reviews
            .page-room__title-group
              h2.page-room__info-title Отзывы посетителей номера
              span.page-room__info-value 2 отзыва
            .reviews
              .reviews__item
                .reviews__dynamics
                  img.reviews__profile-photo(src="img/author1.jpg")
                  .reviews__likes: +like(12, true)
                .reviews__comment
                  b.reviews__author Мурад Сарафанов
                  .reviews__date 5 дней назад
                  .reviews__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
              .reviews__item
                .reviews__dynamics
                  img.reviews__profile-photo(src="img/author2.jpg")
                  .reviews__likes: +like(2)
                .reviews__comment
                  b.reviews__author Патрисия Стёклышкова
                  .reviews__date Неделю назад
                  .reviews__text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
             
          .page-room__rules
          .page-room__cancel
        .page-room__check
          h1 Привет
  include ../../components/main-footer/footer
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="../../components/calendar/datepicker.js")
  script(src="page-room.js")
  script(src="../../components/field/dropdown/dropdown.js")
