extends ../template-base

block title
  title Отель «Toxin» | №888 Люкс 9 990₽ в сутки

block styles
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="page-room.sass")

block content
  main.page-room
    .page-room__gallery
      +gallery(["img/image.jpg", "img/image-2.jpg", "img/image-3.jpg"])
    .page-room__wrapper
      .page-room__container
        .page-room__info-grid
          .page-room__advan-list
            h2.page-room__info-title Сведения о номере
            ul.page-room__advantages
              +advantages([
                {
                  ico: "insert_emoticon",
                  title: "Комфорт",
                  text: "Шумопоглощающие стены"
                },
                {
                  ico: "location_city",
                  title: "Удобство",
                  text: "Окно в каждой из спален"
                },
                {
                  ico: "whatshot",
                  title: "Уют",
                  text: "Номер оснащен камином"
                }
              ])
          .page-room__impressions
            h2.page-room__info-title Впечатления от номера
            +donut({ votes: 260 })
          .page-room__reviews
            .page-room__title-group
              h2.page-room__info-title Отзывы посетителей номера
              span.page-room__info-value 2 отзыва
            +reviews([{
              avatar: "img/author-1.jpg",
              likes: 12,
              liked: true,
              author: 'Мурад Сарафанов',
              date: '5 дней назад',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
            }, {
              avatar: "img/author-2.jpg",
              likes: 2,
              liked: false,
              author: 'Патрисия Стёклышкова',
              date: 'Неделю назад',
              text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
            }])
          .page-room__rules
            h2.page-room__info-title Правила
            +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
          .page-room__cancel
            h2.page-room__info-title Отмена
            p.page-room__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        +check-form({
          number: 888,
          lux: true,
          payPerDay: 9990,
          days: 4,
          serviceCharge: 0,
          serviceChargeDiscount: 2179,
          additionalServiceCharge: 300
        })

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="page-room.js")
