@import "../../sass/main.sass"
@import "../../components/main-header/header.sass"
@import "../../components/main-footer/footer.sass"
@import "../../components/field/field.sass"
@import "../../components/field/dropdown/dropdown.sass"
@import "../../components/calendar/datepicker.css"
@import "../../components/donut/donut.sass"
@import "../../components/buttons/like/like.sass"

// Галлерея
.gallery
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr 1fr

.gallery__img
  width: 100%
  height: 100%

.gallery__item--1
  grid-column: 1 / 3
  grid-row: 1 / 3

// Детали номера

.page-room__details
  margin: 70px 0

.page-room__details
  .container
    display: grid
    grid-template-columns: 1fr 1fr 380px
    grid-column-gap: 70px

.page-room__info-title
  margin-bottom: 20px

.page-room__info-grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 70px
  grid-row-gap: 30px
  grid-column: 1 / 3

// Сведения о номере

.advan-list
  list-style-type: none

.advan-list__item
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: flex-end
  padding-bottom: 17px
  border-bottom: 1px solid $accent10
  margin-bottom: 23px
  &:last-child
    border-bottom: 0

.advan-list__ico
  font-size: 48px
  background: -webkit-linear-gradient(-90deg, #BC9CFF 0%, #8BA4F9 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  user-select: none
  margin-right: 10px

.advan-list__title
  color: $accent75
  font-weight: bold

// Отзывы посетителей номера

.page-room__reviews
  grid-column: 1 / -1

.page-room__title-group
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  align-items: baseline

.reviews__author
  color: $accent75
  line-height: 24px
  cursor: pointer
  &:hover
    text-decoration: underline

.reviews__text
  line-height: 24px
  margin-top: 10px

.reviews__item
  display: -webkit-flex
  display: -ms-flex
  display: flex
  margin-bottom: 23px
  &:last-child
    margin-bottom: 0

.reviews__dynamics
  text-align: center
  margin-right: 10px

.reviews__profile-photo
  margin-bottom: 1px
  max-width: none
  cursor: pointer

.reviews__likes
  margin-top: 12px
// Правила

.rules-list
  list-style-type: none

.rules-list__item
  font-size: 14px
  line-height: 24px
  position: relative
  &::before
    content: ''
    width: 10px
    height: 10px
    background-color: $accent25
    border-radius: 50%
    display: inline-block
    position: absolute
    top: 7px
    left: -20px

// Чек
.check
  padding: 40px 30px 30px 30px

.page-room__check
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px

.check__item_group
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: baseline

.check__number
  margin-right: 5px
  span
    font-family: 'montserrat-example', sans-serif
    font-size: 13px
    margin-right: 5px

.check__price_default
  margin-left: auto
