input[type="radio"] + label
  display: inline-block
  cursor: pointer
  position: relative
  padding-left: 30px
  margin-right: 25px
  margin-top: 2px
  font-size: 13px
  width: auto

  &:before
    content: ""
    display: block
    width: 20px
    height: 20px
    margin-right: 14px
    position: absolute
    top: -3px
    left: 0
    border: 1px solid $accent25
    background-color: #fff
    border-radius: 50%

input[type="radio"]
  display: none !important

  &:checked + label:after
    content: ""
    display: block
    position: absolute
    top: 1px
    left: 4px
    width: 12px
    height: 12px
    border-radius: 50%
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

input[type="radio"]
  &:checked + label
    color: $accent75
