@import "../../sass/index"

.checkbox
  $root: &
  line-height: 1.7857rem
  color: $accent50

  &_rich
    margin-bottom: 0.1429rem

    &:last-child
      margin-bottom: 0

  &__label
    position: relative
    cursor: pointer
    padding-left: 2.0714rem
    display: inline-block
    line-height: 1.286rem
    padding-top: 0.214rem

    &:hover
      #{$root}__span
        &::before
          border: 0.0714rem solid $purple

  &__span
    &::before, &::after
      content: ""
      position: absolute
      display: inline-block

    &::before
      height: 1.4286rem
      width: 1.4286rem
      border: 0.0714rem solid $accent25
      border-radius: 0.2857rem
      left: 0
      top: 0.1429rem

    &::after
      height: 0.4286rem
      width: 0.5714rem
      left: 0.4643rem
      top: 0.5714rem

  &__input
    display: none

    &:checked
      + #{$root}__span
        &::after
          border-left: 0.1429rem solid $purple
          border-bottom: 0.1429rem solid lighten($purple, 3%)
          transform: rotate(-45deg)

        &::before
          border: 0.0714rem solid $purple

  &__title_rich
    color: $accent75
    font-weight: bold
    width: 100% !important

  &__text_rich
    font-size: 0.8571rem
    line-height: 1rem
    font-weight: 100
    margin-top: 0.1429rem
    color: $accent50
    width: 16.4286rem
