.form-elements
    img.ui-kit__logo(src="img/logo_min.svg", alt="logo")
    .ui-kit__container
        .form-elements__column
            .form-elements__item
                .form-elements__sub-item(data-tip='Default')
                    +field({ theme: 'with-label', className: 't-field', text: 'text field', id: 'fieldDefault', placeholder: "Email"})
                .form-elements__sub-item(data-tip='Hover / Focus')
                    +field({
                      theme: 'with-label',
                      className: 't-field',
                      text: 'text field',
                      id: 'fieldHover',
                      value: "This is pretty awesome"
                    })
                .form-elements__sub-item(data-tip='Default')
                    +field({theme: 'with-dropdown', text: 'text field', id: 'elements-guestsDropDown', value: "Сколько гостей"})
                .form-elements__sub-item(data-tip='Default')
                    +field({theme: 'masked', text: 'Masked text field', id:'t-field_dropdown', placeholder: "ДД.ММ.ГГГГ"})
            .form-elements__item#formElementsCalendar
                .form-elements__group-field
                    .form-elements__field
                        +field({
                          theme: 'with-dropdown',
                          text: 'date Dropdown',
                          id: 'arrival',
                          value: "ДД.ММ.ГГГГ"
                        })
                    .form-elements__field
                        +field({
                          theme: 'with-dropdown',
                          text: 'date Dropdown',
                          id: 'checkOut',
                          value: "ДД.ММ.ГГГГ"
                        })
            .form-elements__item
                +field({theme: 'with-dropdown', text: 'filter date dropdown', id: 'filterDate', value: "Выберите дату"})
            .form-elements__item
                label.form-elements__label(for='subscr') Subscription  text field
                +field({theme: 'with-arrow', text: 'subscription text field', id: 'subscr', type: "email", placeholder: "Email"})
        .form-elements__column.form-elements__column--type-buttons
            .form-elements__item
                h3.form-elements__label Checkbox Buttons
                +checkbox-list({
                  items: [
                    {
                      text: 'Можно курить',
                      id: 'smoke'
                    },
                    {
                      text: 'Можно с питомцами',
                      id: 'pets',
                      check: true
                    },
                    {
                      text: 'Можно пригласить гостей (до 10 человек)',
                      id: 'guestsCheck',
                      check: true
                    }
                  ]
                })
            .form-elements__item
                h3.form-elements__label Radio Buttons
                +radio({
                  text: 'Мужчина',
                  id: 'man',
                  name: 'sex',
                  value: 'man',
                  checked: true
                })
                +radio({
                  text: 'Женщина',
                  id: 'woman',
                  name: 'sex',
                  value: 'woman'
                })
            .form-elements__item
                h3.form-elements__label Toggle
                .form-elements__toggle
                    +toggle('Получать спецпредложения', 'offer', true)
                .form-elements__toggle
                    +toggle('Получать спецпредложения', 'offer2')
            .form-elements__item
                h3.form-elements__label Like Button
                span.form-elements__like
                    +like(12)
                span
                    +like(12, true)
            .form-elements__item
                h3.form-elements__label Rate Button
                span.form-elements__rate
                    +rate(4, 5)
                span.form-elements__rate
                    +rate(5, 5)
        .form-elements__column.form-elements__column--type-buttons
            .form-elements__item.form-elements__item--with-range-slider
                h3.form-elements__label Range Slider
                span.form-elements__slider-values
            .form-elements__item
                h3.form-elements__label buttons
                .form-elements__sub-item
                    +btn({text: 'Click Me', theme: 'gradient'})
                .form-elements__sub-item
                    +btn({text: 'Click Me'})
                .form-elements__sub-item
                    +btn({
                      text: 'Click Me',
                      theme: 'link'
                    })
                .form-elements__sub-item
                    +btn({
                      text: 'Перейти к оплате',
                      theme: 'arrow'
                    })
            .form-elements__item
                h3.form-elements__label pagination
                +pagination({ current: 1, totalPages: 15, totalVars: 100 })
    .ui-kit__container
        .form-elements__column
            .form-elements__item
                .form-elements__sub-item(data-tip='Default')
                    +field({
                      theme: 'with-dropdown',
                      text: 'Dropdown',
                      id: 'DropdownWithoutButtons',
                      value: "2 спальни, 2 кровати..."
                    })
        .form-elements__column
            .form-elements__item
                .form-elements__sub-item
                    +field({
                      theme: 'with-dropdown',
                      text: 'Dropdown',
                      id: 'DropdownWithButtons',
                      value: "2 спальни, 2 кровати..."
                    })
    .ui-kit__container
        .form-elements__column
            .form-elements__item
                +checkbox-list({
                  expandable: true,
                  id: 'moreComfortFilter',
                  title: 'Дополнительные удобства',
                  items:
                    [
                      {
                        text: 'Завтрак',
                        id: 'breakfast'
                      },
                      {
                        text: 'Письменный стол',
                        id: 'desk',
                        check: true
                      },
                      {
                        text: 'Стул для кормления',
                        id: 'feedingChair',
                        check: true
                      },
                      {
                        text: 'Кроватка',
                        id: 'crib',
                        check: true
                      },
                      {
                        text: 'Телевизор',
                        id: 'tv'
                      },
                      {
                        text: 'Шампунь',
                        id: 'shampoo'
                      },
                      {
                        text: 'Интернет',
                        id: 'internet'
                      },
                      {
                        text: 'Связь с космосом',
                        id: 'spaceConnection'
                      }
                    ]
                })
        .form-elements__column
            .form-elements__item
                label.form-elements__label rich Checkbox Buttons
                +checkbox-list({
                  items: [
                    {
                      theme: "rich",
                      title: 'Широкий коридор',
                      text: 'Ширина коридоров в номере не менее 91 см.',
                      id: 'corridor'
                    },
                    {
                      theme: "rich",
                      title: 'Помощник для инвалидов',
                      text: 'На 1 этаже вас встретит специалист  и проводит до номера.',
                      id: 'helper'
                    }
                  ]
                })
        .form-elements__column
            .form-elements__item
                label.form-elements__label bullet list
                +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
    .ui-kit__container
        .form-elements__column
            .form-elements__item.form-elements__item--with-advantages
                +advantages([
                  {
                    ico: "insert_emoticon",
                    title: "Комфорт",
                    text: "Шумопоглощающие стены"
                  },
                  {
                    ico: "location_city",
                    title: "Удобство",
                    text: "Окно в каждой из спален"
                  },
                  {
                    ico: "whatshot",
                    title: "Уют",
                    text: "Номер оснащен камином"
                  }
                ])
        .form-elements__item
            +reviews([{
              avatar: "../page-room/img/author-1.jpg",
              likes: 12,
              liked: true,
              author: 'Мурад Сарафанов',
              date: '5 дней назад',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
            }])


