@import "../../../sass/mixins"

.form-elements
  $root: &

  &__container
    @include container
    display: flex
    justify-content: space-between
    padding: 0 1.0714rem

  &__column
    margin-bottom: 7.1429rem
    width: 22.8571rem

    &--type-buttons
      #{$root}__label
        margin-bottom: 1.071rem

  &__label
    @include label

  &__item
    position: relative
    margin-bottom: 2.857rem

    &--with-advantages
      margin-right: 350px
      width: 100%

  &__sub-item
    position: relative
    margin-bottom: 1.429rem

    &::after
      content: attr(data-tip)
      display: inline-block
      position: absolute
      top: 0
      right: 0
      text-transform: uppercase
      font-size: 0.8571rem
      line-height: 1.0714rem

  &__group-field
    @include group-field
    margin-top: 1.4286rem

  &__field
    width: 10.7143rem

  &__toggle
    margin-bottom: 1rem

    &:last-child
      margin-bottom: 0

  &__like
    margin-right: 0.7143rem

  &__rate
    margin-right: 1.4286rem

  &__slider-values
    position: absolute
    white-space: nowrap
    right: 0
    color: $accent50
    font-size: 12px
