.ui-kit__section
    .form-elements
        img.ui-kit__logo(src="img/logo_min.svg", alt="logo")
        .container
            .fields
                .t-field
                    +field({ theme: 'with-label', className: 't-field', text: 'text field', id: 'fieldDefault'})(placeholder="Email")
                .t-field
                    +field({
                      theme: 'with-label',
                      className: 't-field',
                      text: 'text field',
                      id: 'fieldHover'
                    })(value="This is pretty awesome")
                .t-field
                    +field({theme: 'with-dropdown', text: 'text field', id: 'elements-guestsDropDown'})(value="Сколько гостей" readonly)

                .t-field
                    +field({theme: 'masked', text: 'Masked text field', id:'t-field_dropdown'})(placeholder="ДД.ММ.ГГГГ")
                .t-field#formElementsCalendar
                    +field({
                      className: 't-field',
                      value: {
                        first: 'date Dropdown',
                        second: 'date Dropdown'
                      },
                      id: {
                        first: 'arrival',
                        second: 'checkOut'
                      }
                    })(placeholder="ДД.ММ.ГГГГ")
                .t-field#filterDateCalendar
                    +field({theme: 'with-dropdown', text: 'filter date dropdown', id: 'filterDate'})(value="19 авг - 23 авг")
                .t-field
                    label.label(for='subscr') Subscription  text field
                    +field({theme: 'with-arrow', text: 'subscription text field', id: 'subscr'})(type="email" placeholder="Email")
            .buttons
                .buttons__checkbox
                    h3.label Checkbox Buttons
                    .checkbox__example
                        +checkbox('Можно курить', 'smoke')
                        +checkbox('Можно с питомцами', 'pets', 1)
                        +checkbox('Можно пригласить гостей (до 10 человек)', 'guestsCheck', 1)
                .buttons__radio
                    h3.label Radio Buttons
                    .radio__example
                        +radio({
                          text: 'Мужчина',
                          id: 'man',
                          name: 'sex',
                          value: 'man'
                        })(checked)
                        +radio({
                          text: 'Женщина',
                          id: 'woman',
                          name: 'sex',
                          value: 'woman'
                        })
                .buttons__toggle
                    h3.label Toggle
                    .toggle__example
                        +toggle('Получать спецпредложения', 'offer')(checked)
                    .toggle__example
                        +toggle('Получать спецпредложения', 'offer2')
                .buttons__like
                    h3.label Like Button
                    .like__group
                        +like(12)
                        +like(12, true)
                .buttons__rate
                    h3.label Rate Button
                    .rate__group
                        +rate(4, 5)
                    .rate__group
                        +rate(5, 5)
            .buttons2
                .rooms-filter__item.range-slider
                    h3.label Диапазон цены
                    span.rooms-filter__values#rangeSliderRoomValue
                    .range-slider__app
                        input(type="text" class="js-range-slider" name="my_range" value="")
                        p.range-slider__info Стоимость за сутки пребывания в номере
                .buttons__buttons
                    h3.label buttons
                    .buttons__gradient
                        +btn('Click Me', 'gradient')
                    .buttons__not-gradient
                        +btn('Click Me')
                    .buttons__links
                        +btn('Click me', 'link')
                    .buttons__arrow
                        +btn('Перейти к оплате', 'arrow')
                .buttons__pagination
                    h3.label pagination
                    include ../../../components/pagination/pagination

        .form-elements_expandable
            .container
                .fields
                    .t-field
                        +field({
                          theme: 'with-dropdown',
                          text: 'Dropdown',
                          id: 'comfortFilter'
                        })(value="2 спальни, 2 кровати...")
                    h3.label.checkbox__title_expandable#moreComfortFilter Дополнительные удобства
                    .checkbox__wrapper_expandable#moreComfortFilterWrapper
                        +checkbox('Завтрак', 'breakfast')
                        +checkbox('Письменный стол', 'desk', 1)
                        +checkbox('Стул для кормления', 'feedingChair', 1)
                        +checkbox('Кроватка', 'crib', 1)
                        +checkbox('Телевизор', 'tv')
                        +checkbox('Шампунь', 'shampoo')
                        +checkbox('Интернет', 'internet')
                        +checkbox('Связь с космосом', 'spaceConnection')

                .fields
                    .main__item
                        label.label rich Checkbox Buttons
                        +checkbox_rich('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'corridor')
                        +checkbox_rich('Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', 'helper')
                .fields
                    .main__item
                        label.label bullet list
                        +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])

        .container
            .main__item
                ul.advantages
                    +advantage({
                      ico: "insert_emoticon",
                      title: "Комфорт",
                      text: "Шумопоглощающие стены"
                    })
                    +advantage({
                      ico: "location_city",
                      title: "Удобство",
                      text: "Окно в каждой из спален"
                    })
                    +advantage({
                      ico: "whatshot",
                      title: "Уют",
                      text: "Номер оснащен камином"
                    })

            .main__item
                .reviews__item
                    +review({
                      img: "../page-room/img/author-1.jpg",
                      likes: "12",
                      likeCheck: true,
                      author: "Мурад Сарафанов",
                      date: "5 дней назад",
                      text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
                    })


