.image-helpers
  a(href="#!").image-helpers__arrow.image-helpers__arrow_left
  a(href="#!").image-helpers__arrow.image-helpers__arrow_right
  .image-helpers__slide-wrapper
    a(href="#!").image-helpers__slide.image-helpers__slide_active
    a(href="#!").image-helpers__slide
    a(href="#!").image-helpers__slide
    a(href="#!").image-helpers__slide
