extends ../template-base

block title
  title Отель «Toxin» | Вход

block styles
  link(rel="stylesheet" href="sign-in-page.sass")


block content
  main.sign-in-page
    .sign-in-page__container
      +sign-in()
