@import "../../sass/main"
@import "../../components/header/header"
@import "../../components/footer/footer"
@import "../../components/field/field"
@import "../../components/dropdown/dropdown"
@import "../../components/checkbox/checkbox"
@import "../../components/rate/rate"
@import "../../components/pagination/pagination"
@import "../../components/rooms-item/rooms-item"
@import "../../components/checkbox-list/checkbox-list"

.main
  margin-top: 2.1429rem
  margin-bottom: 5rem

  &__container
    @include container
    display: grid
    justify-content: space-between
    grid-template-columns: 19rem 1fr
    grid-column-gap: 4.2857rem

    @media screen and ( max-width: 65rem )
      grid-template-columns: 1fr

.rooms-filter

  @media screen and ( max-width: 65rem )
    display: none
    &__item
      .js-Calendar
        left: 50%
        transform: translateX(-50%)
        top: 5.7143rem

  &__values
    position: absolute
    right: 0
    top: 0
    font-size: 0.9286rem
    color: $accent50

  &__label
    @include label

  &__item
    margin-bottom: 2.1429rem
    position: relative

    .datepicker-inline
      .js-Calendar
        left: 20.7143rem
        width: 22.7143rem

    &:last-child
      margin-bottom: 0
    &:nth-child(2)
      margin-bottom: 2.0714rem
    &:nth-child(3)
      margin-bottom: 1.0714rem
    &:nth-child(4)
      margin-bottom: 1.6429rem

  &__field
    margin-bottom: 1.4286rem
    &:last-child
      margin-bottom: 0

  &__checkbox
    margin-top: 1.1429rem

// Сетка для отображения номеров

.rooms
  &__grid
    margin-top: 1.4286rem
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(19.2857rem, 1fr))
    grid-column-gap: 0.8571rem
    grid-row-gap: 1.0714rem

  &__offer
    @include h1

  &__pagination
    margin-top: 1.6429rem
    margin-right: 0.8571rem

.js-show-filters
  display: none
  font-size: 1rem
  background-image: linear-gradient(180deg, $blue 0%, $blue 100%)
  color: #fff
  border-radius: 0.2143rem
  padding: 0.3571rem 1.0714rem
  cursor: pointer

  @media screen and ( max-width: 65rem )
    display: inline-block
    margin-left: 1.4286rem

  @media screen and ( max-width: 52.5rem )
    display: block
    text-align: center
    margin-top: 1.0714rem
    margin-left: 0
