extends ../template-base

block title
  title Отель «Toxin» | Номера, которые мы для вас подобрали

block styles
  link(rel="stylesheet" href="rooms.sass")


block content
  include ../mixins-pug

  include ../../components/header/header-non-authorized

  main.main
    .container
      .rooms-filter
        .rooms-filter__item.datepicker-place
          .t-field.rooms-filter__field
            +field-dropdown('Даты пребывания в отеле', 'dateFilter')(value="Выберите дату" readonly)
          .t-field.rooms-filter__field
            +field-dropdown('Гости', 'guests')(value="Сколько гостей" readonly)
        .rooms-filter__item.range-slider
          h3.rooms-filter__name Диапазон цены
          span.rooms-filter__values#rangeSliderRoomValue
          .range-slider__app
            input(type="text" class="js-range-slider" name="my_range" value="")
            p.range-slider__info Стоимость за сутки пребывания в номере
        .rooms-filter__item
          h3.rooms-filter__name Привелегии
          .checkbox__example.rooms-filter__checkbox
            +checkbox('Можно курить', 'smoke')
            +checkbox('Можно с питомцами', 'pets', 1)
            +checkbox('Можно пригласить гостей (до 10 человек)', 'guests', 1)
        .rooms-filter__item
          h3.rooms-filter__name Доступность
          .rooms-filter__checkbox
            +checkbox_rich('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'corridor')
            +checkbox_rich('Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', 'helper')
        .rooms-filter__item
          .t-field
            +field-dropdown('Удобства номера', 'comfortFilter')(value="Выберите удобства" readonly)
        .rooms-filter__item
          h3.checkbox__title_expandable#moreComfortFilter Дополнительные удобства
          .checkbox__wrapper_expandable#moreComfortFilterWrapper
            +checkbox('Завтрак', 'breakfast')
            +checkbox('Письменный стол', 'desk', 1)
            +checkbox('Стул для кормления', 'feedingChair', 1)
            +checkbox('Кроватка', 'crib', 1)
            +checkbox('Телевизор', 'tv')
            +checkbox('Шампунь', 'shampoo')
            +checkbox('Интернет', 'internet')
            +checkbox('Связь с космосом', 'spaceConnection')

      .rooms
        h1.rooms__offer Номера, которые мы для вас подобрали <span class="js-show-filters">Показать фильтры</span>
        .rooms__grid
          .rooms__item
            a(href="/../page-room/page-room.pug")
              +rooms-item({
                img: "img/image-1.jpg",
                num: "888",
                lux: true,
                price: "9 990",
                stars: 5,
                reviews: 145
              })
          .rooms__item
            +rooms-item({
              img: "img/image-2.jpg",
              num: "840",
              lux: false,
              price: "9 900",
              stars: 4,
              reviews: 65
            })
          .rooms__item
            +rooms-item({
              img: "img/image-3.jpg",
              num: "980",
              lux: true,
              price: "8 500",
              stars: 3,
              reviews: 35
            })
          .rooms__item
            +rooms-item({
              img: "img/image-4.jpg",
              num: "856",
              lux: false,
              price: "7 300",
              stars: 5,
              reviews: 19
            })
          .rooms__item
            +rooms-item({
              img: "img/image-5.jpg",
              num: "740",
              lux: false,
              price: "6 000",
              stars: 4,
              reviews: 44
            })
          .rooms__item
            +rooms-item({
              img: "img/image-6.jpg",
              num: "982",
              lux: false,
              price: "5 800",
              stars: 3,
              reviews: 56
            })
          .rooms__item
            +rooms-item({
              img: "img/image-7.jpg",
              num: "678",
              lux: false,
              price: "5 500",
              stars: 5,
              reviews: 45
            })
          .rooms__item
            +rooms-item({
              img: "img/image-8.jpg",
              num: "450",
              lux: false,
              price: "5 300",
              stars: 4,
              reviews: 39
            })
          .rooms__item
            +rooms-item({
              img: "img/image-9.jpg",
              num: "350",
              lux: false,
              price: "5 000",
              stars: 3,
              reviews: 77
            })
          .rooms__item
            +rooms-item({
              img: "img/image-10.jpg",
              num: "666",
              lux: false,
              price: "5 000",
              stars: 5,
              reviews: 25
            })
          .rooms__item
            +rooms-item({
              img: "img/image-11.jpg",
              num: "444",
              lux: false,
              price: "5 000",
              stars: 4,
              reviews: 15
            })
          .rooms__item
            +rooms-item({
              img: "img/image-12.jpg",
              num: "352",
              lux: false,
              price: "5 000",
              stars: 3,
              reviews: 55
            })
        .rooms__pagination
          include ../../components/pagination/pagination


  include ../../components/footer/footer

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="../../components/calendar/datepicker.js")
  script(src="rooms.js")
