extends ../template-base

block title
  title Отель «Toxin» | Номера, которые мы для вас подобрали
  
block styles
  link(rel="stylesheet" href="rooms.sass")


block content
  include ../mixins-pug
  
  include ../../components/main-header/header
    
  main.main
    .container
      .rooms-filter
        .rooms-filter__item.datepicker-place
          .t-field.rooms-filter__field
            +field-dropdown('Даты пребывания в отеле', 'dateFilter')(value="Выберите дату" readonly)
          .t-field.rooms-filter__field
            +field-dropdown('Гости', 'guestsFilter')(value="Сколько гостей" readonly)
            .dropdown__content#guestsDrop
              span.dropdown__item
                span.dropdown__target Взрослые
                a.dropdown__btn.dropdown__btn-minus(href="#!") -
                span.dropdown__value 0
                a.dropdown__btn.dropdown__btn-plus(href="#!") +
              span.dropdown__item
                span.dropdown__target Дети
                a.dropdown__btn.dropdown__btn-minus(href="#!") -
                span.dropdown__value 0
                a.dropdown__btn.dropdown__btn-plus(href="#!") +
              span.dropdown__item#guestsDropPrimeItem
                span.dropdown__target Младенцы
                a.dropdown__btn.dropdown__btn-minus(href="#!") -
                span.dropdown__value#guestsDropPrimeItemValue 0
                a.dropdown__btn.dropdown__btn-plus(href="#!") +
              .dropdown__functions
                a.dropdown__func-btn.dropdown__clear(href="#!") Очистить
                a.dropdown__func-btn.dropdown__apply(href="#!") Применить
        .rooms-filter__item.range-slider
          h3.rooms-filter__name Диапазон цены
          .range-slider__app
            .range-slider__line
            .range-slider__circle.range-slider__circle-start
            .range-slider__range
            .range-slider__circle.range-slider__circle-end
            p.range-slider__info Стоимость за сутки пребывания в номере
        .rooms-filter__item
          h3.rooms-filter__name Привелегии
          .checkbox__example.rooms-filter__checkbox
            +checkbox('Можно курить', 'smoke')
            +checkbox('Можно с питомцами', 'pets', 1)
            +checkbox('Можно пригласить гостей (до 10 человек)', 'guests', 1)
        .rooms-filter__item
          h3.rooms-filter__name Доступность
          .rooms-filter__checkbox
            +checkbox_rich('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'corridor')
            +checkbox_rich('Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', 'helper')
        .rooms-filter__item
          .t-field
            +field-dropdown('Удобства номера', 'comfortFilter')(value="Выберите удобства" readonly)
            .dropdown__content.dropdown__content-poor#comfortDrop
              span.dropdown__item#bedrooms
                span.dropdown__target cпальни
                a.dropdown__btn.dropdown__btn-minus(href="#!") -
                span.dropdown__value 0
                a.dropdown__btn.dropdown__btn-plus(href="#!") +
              span.dropdown__item#beds
                span.dropdown__target кровати
                a.dropdown__btn.dropdown__btn-minus(href="#!") -
                span.dropdown__value 0
                a.dropdown__btn.dropdown__btn-plus(href="#!") +
              span.dropdown__item#bathrooms
                span.dropdown__target ванные комнаты
                a.dropdown__btn.dropdown__btn-minus(href="#!") -
                span.dropdown__value 0
                a.dropdown__btn.dropdown__btn-plus(href="#!") +
        .rooms-filter__item
          h3.checkbox__title_expandable#moreComfortFilter Дополнительные удобства
          .checkbox__wrapper_expandable#moreComfortFilterWrapper
            +checkbox('Завтрак', 'breakfast')
            +checkbox('Письменный стол', 'desk', 1)
            +checkbox('Стул для кормления', 'feedingChair', 1)
            +checkbox('Кроватка', 'crib', 1)
            +checkbox('Телевизор', 'tv')
            +checkbox('Шампунь', 'shampoo')
            +checkbox('Интернет', 'internet')
            +checkbox('Связь с космосом', 'spaceConnection')

      .rooms
        h1.rooms__offer Номера, которые мы для вас подобрали
        .rooms__grid
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/room_1.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 888
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>9 990₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 5, 5)
                p.rooms-item__reviews <b>145</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 840
                p.rooms-item__price <b>9 000₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 4, 5)
                p.rooms-item__reviews <b>65</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-1.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 980
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>8 500₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 3, 5)
                p.rooms-item__reviews <b>35</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-4.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 856
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>7 300₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 5, 5)
                p.rooms-item__reviews <b>19</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-2.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 740
                p.rooms-item__price <b>6 000₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 4, 5)
                p.rooms-item__reviews <b>44</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-3.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 982
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>5 800₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 3, 5)
                p.rooms-item__reviews <b>56</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-7.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 678
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>5 500₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 5, 5)
                p.rooms-item__reviews <b>45</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-5.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 450
                p.rooms-item__price <b>5 300₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 4, 5)
                p.rooms-item__reviews <b>39</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-6.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 350
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>5 000₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 3, 5)
                p.rooms-item__reviews <b>77</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-9.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 666
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>5 000₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 5, 5)
                p.rooms-item__reviews <b>25</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image-8.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 444
                p.rooms-item__price <b>5 000₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 4, 5)
                p.rooms-item__reviews <b>15</b> Отзывов
          .rooms__item
            .rooms-item__image
              img.rooms-item__img(src="img/image 2.jpg", alt="Фотография номера")
              include ../../components/image-helpers/image-helpers
            .rooms-item__wrapper
              .rooms-item__info
                h2.rooms-item__num 
                  span №
                  | 352
                +link('rooms-item__lux', 'Люкс')
                p.rooms-item__price <b>5 000₽</b> в сутки
              .rooms-item__rating
                +rating('rooms-rating', 3, 5)
                p.rooms-item__reviews <b>55</b> Отзывов
        
    
    
  include ../../components/main-footer/footer
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="../../components/calendar/datepicker.js")
  script(src="rooms.js")
  script(src="../../components/field/dropdown/dropdown.js")
