extends ../template-base

block title
  title Отель «Toxin» | Номера, которые мы для вас подобрали

block styles
  link(rel="stylesheet" href="rooms.sass")

block content
  main.main
    .main__container
      .rooms-filter
        .rooms-filter__item
          .t-field.rooms-filter__field
            +field({theme: 'with-dropdown', text: 'Даты пребывания в отеле', id: 'dateFilter', value: "Выберите дату"})
          .t-field.rooms-filter__field
            +field({
              theme: 'with-dropdown',
              text: 'Гости',
              id: 'guests',
              value: "Сколько гостей"
            })
        .rooms-filter__item
          label.rooms-filter__label Диапазон цены
          span.rooms-filter__values#rangeSliderRoomValue
          .range-slider
            .range-slider__app
              input(type="text" class="js-range-slider" name="my_range" value="")
              p.range-slider__info Стоимость за сутки пребывания в номере
        .rooms-filter__item
          label.rooms-filter__label Привелегии
          .rooms-filter__checkbox
              +checkbox-list({
                items: [
                  {
                    text: 'Можно курить',
                    id: 'smoke'
                  },
                  {
                    text: 'Можно с питомцами',
                    id: 'pets',
                    check: true
                  },
                  {
                    text: 'Можно пригласить гостей (до 10 человек)',
                    id: 'guestsCheck',
                    check: true
                  }
                ]
              })
        .rooms-filter__item
          label.rooms-filter__label Доступность
          .rooms-filter__checkbox
            +checkbox-list({
              items: [
                { theme: "rich", title: 'Широкий коридор', text: 'Ширина коридоров в номере не менее 91 см.', id: 'corridor'},
                { theme: "rich", title: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист  и проводит до номера.', id: 'helper'}
              ]
            })
        .rooms-filter__item
          +field({
            theme: 'with-dropdown',
            text: 'Удобства номера',
            id: 'comfortFilter',
            value: "Выберите удобства"
          })
        .rooms-filter__item
          +checkbox-list({
            expandable: true,
            id: 'moreComfortFilter',
            title: 'Дополнительные удобства',
            items:
                    [
                      {
                        text: 'Завтрак',
                        id: 'breakfast'
                      },
                      {
                        text: 'Письменный стол',
                        id: 'desk',
                        check: true
                      },
                      {
                        text: 'Стул для кормления',
                        id: 'feedingChair',
                        check: true
                      },
                      {
                        text: 'Кроватка',
                        id: 'crib',
                        check: true
                      },
                      {
                        text: 'Телевизор',
                        id: 'tv'
                      },
                      {
                        text: 'Шампунь',
                        id: 'shampoo'
                      },
                      {
                        text: 'Интернет',
                        id: 'internet'
                      },
                      {
                        text: 'Связь с космосом',
                        id: 'spaceConnection'
                      }
                    ]
          })
      .rooms
        h1.rooms__offer Номера, которые мы для вас подобрали
          span.js-show-filters Показать фильтры
        .rooms__grid
            +rooms-item({
              img: "img/image-1.jpg",
              num: "888",
              lux: true,
              price: "9 990",
              stars: 5,
              reviews: 145
            })
            +rooms-item({
              img: "img/image-2.jpg",
              num: "840",
              lux: false,
              price: "9 900",
              stars: 4,
              reviews: 65
            })
            +rooms-item({
              img: "img/image-3.jpg",
              num: "980",
              lux: true,
              price: "8 500",
              stars: 3,
              reviews: 35
            })
            +rooms-item({
              img: "img/image-4.jpg",
              num: "856",
              lux: false,
              price: "7 300",
              stars: 5,
              reviews: 19
            })
            +rooms-item({
              img: "img/image-5.jpg",
              num: "740",
              lux: false,
              price: "6 000",
              stars: 4,
              reviews: 44
            })
            +rooms-item({
              img: "img/image-6.jpg",
              num: "982",
              lux: false,
              price: "5 800",
              stars: 3,
              reviews: 56
            })
            +rooms-item({
              img: "img/image-7.jpg",
              num: "678",
              lux: false,
              price: "5 500",
              stars: 5,
              reviews: 45
            })
            +rooms-item({
              img: "img/image-8.jpg",
              num: "450",
              lux: false,
              price: "5 300",
              stars: 4,
              reviews: 39
            })
            +rooms-item({
              img: "img/image-9.jpg",
              num: "350",
              lux: false,
              price: "5 000",
              stars: 3,
              reviews: 77
            })
            +rooms-item({
              img: "img/image-10.jpg",
              num: "666",
              lux: false,
              price: "5 000",
              stars: 5,
              reviews: 25
            })
            +rooms-item({
              img: "img/image-11.jpg",
              num: "444",
              lux: false,
              price: "5 000",
              stars: 4,
              reviews: 15
            })
            +rooms-item({
              img: "img/image-12.jpg",
              num: "352",
              lux: false,
              price: "5 000",
              stars: 3,
              reviews: 55
            })
        .rooms__pagination
          +pagination({ current: 1, totalPages: 15, totalVars: 100 })

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="rooms.js")
