.pagination
  $root: &

  text-align: center

  &__item
    font-size: 0.8571rem
    color: $accent50
    width: 2.8571rem
    height: 2.8571rem
    display: inline-block
    margin-right: 0
    text-align: center
    line-height: 2.8571rem
    border-radius: 1.5714rem
    text-decoration: none

    &_current
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      font-weight: bold
      color: #fff

    &:hover:not(.pagination__item_next):not(.pagination__item_current)
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
      font-weight: bold
      color: #fff
      opacity: .7

  &__item_next
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    position: relative
    top: 1.0714rem

    &:hover
      opacity: .7

    #{$root}__arrow
      position: absolute
      top: 50%
      right: 50%
      transform: translate(50%, -50%)
      fill: white

  &__result
    margin-top: 0.8571rem
