include ../field/field

mixin footer(theme)
  if theme === 'poor'
    footer.footer.footer_theme_poor
      .footer__main
        .footer__container
          .footer__description
            a.footer__logo(href="/index.pug"): img(src="../../logo.svg", alt="Toxin")
            p.footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            ul.footer__item
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/twitter.svg", alt="Twitter")
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/fb.svg", alt="FaceBook")
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/ig.svg", alt="Instagram")
  else if theme === 'full'
    footer.footer
      .footer__main
        .footer__container
          .footer__description
            a.footer__logo(href="/index.pug"): img(src="../../logo.svg", alt="Toxin")
            p.footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          nav.footer__nav
            ul.footer__item
              h3.footer__title Навигация
              li.footer__list-item: a.footer__list-link(href="#") О нас
              li.footer__list-item: a.footer__list-link(href="#") Новости
              li.footer__list-item: a.footer__list-link(href="#") Служба поддержки
              li.footer__list-item: a.footer__list-link(href="#") Услуги
            ul.footer__item
              h3.footer__title О нас
              li.footer__list-item: a.footer__list-link(href="#") О сервисе
              li.footer__list-item: a.footer__list-link(href="#") Наша команда
              li.footer__list-item: a.footer__list-link(href="#") Вакансии
              li.footer__list-item: a.footer__list-link(href="#") Инвесторы
            ul.footer__item
              h3.footer__title Служба поддержки
              li.footer__list-item: a.footer__list-link(href="#") Соглашения
              li.footer__list-item: a.footer__list-link(href="#") Сообщества
              li.footer__list-item: a.footer__list-link(href="#") Связь с нами
          form.footer__newsletter
            h3.footer__title Подписка
            p.footer__info Получайте специальные предложения и новости сервиса
            +field({theme: 'with-arrow'})(name="email" placeholder="Email")
      .footer__sub
        .footer__sub-container
          p.footer__copyright Copyright © 2019 Toxin отель. Все права зачищены.
          nav.footer__soc-list
            ul.footer__item
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/twitter.svg", alt="Twitter")
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/fb.svg", alt="FaceBook")
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/ig.svg", alt="Instagram")
