footer.footer.footer-poor
  .main-footer
    .container
      .main-footer__description
        a.main-footer__logo(href="/index.pug"): img(src="../../logo.svg", alt="Toxin")
        p.main-footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        ul.footer-soc
          li.footer-soc__list: a.footer-soc__link(href="#!"): img.footer-soc__ico(src="../../components/footer/img/twitter.svg", alt="Twitter")
          li.footer-soc__list: a.footer-soc__link(href="#!"): img.footer-soc__ico(src="../../components/footer/img/fb.svg", alt="FaceBook")
          li.footer-soc__list: a.footer-soc__link(href="#!"): img.footer-soc__ico(src="../../components/footer/img/ig.svg", alt="Instagram")
          
