@import "../field/field"

.footer
  $root: &

  &__main
    border-top: 1px solid $accent25
    background-color: #fff
    padding: 102px 15px 100px

  &__container
    @include container
    display: flex
    justify-content: space-between

    @media screen and (max-width: 864px)
      text-align: center
      justify-content: center

  &__description
    width: 260px
    line-height: 24px
    margin-right: 40px

    @media screen and (max-width: 864px)
      width: 560px
      margin: 0

  &__info
    margin-top: 11px

    @media screen and (max-width: 864px)
      margin: 20px 0

  &__logo
    display: inline-block
    margin-top: -4px

  &__title
    text-transform: uppercase
    font-size: 12px
    color: $accent

  &__nav
    display: flex

    @media screen and (max-width: 864px)
      display: none

  &__item
    list-style: none

    @media screen and (max-width: 576px)
      padding: 0
      margin-top: 20px

  &__list-link
    color: $accent50
    line-height: 17px
    text-decoration: none

  &__list-item
    margin-top: 22px
    display: list-item

    &:nth-child(2)
      margin-top: 21px

  &__newsletter
    width: 260px
    line-height: 24px
    margin-left: 51px

    @media screen and (max-width: 864px)
      display: none

    #{$root}__info
      margin:
        top: 18px
        bottom: 23px

  &__sub
    border-top: 1px solid rgba(#d0d0d4, 0.50)
    padding: 23px 0
    padding-top: 18px
    background-color: #fff

  &__sub-container
    max-width: 1190px
    margin: 0 auto
    padding: 0 15px
    display: flex
    align-items: center
    justify-content: space-between

    @media screen and (max-width: 576px)
      flex-direction: column
      text-align: center

  &__copyright
    font-size: 14px

  &__soc-item
    display: inline-block
    margin-left: 21px
    margin-top: 5px
    margin-right: 1px

    &:first-child
      margin-left: 0

  &__soc-ico
    transition: .25s

  &__soc-ico:hover
    transform: scale(1.1)
    transition: .25s

  &_theme_poor
    #{$root}__container
      display: flex
      justify-content: center
      text-align: center

    #{$root}__description
      width: auto
      max-width: 560px
      margin: 0

    #{$root}__item
      padding: 0
      margin-top: 15px

