include ../field/field

mixin footer(theme, navigations = [])
  if theme === 'poor'
    footer.footer.footer_theme_poor
      .footer__main
        .footer__container
          .footer__description
            a.footer__logo(href="/index.pug"): img(src="../../logo.svg", alt="Toxin")
            p.footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            ul.footer__item
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/twitter.svg", alt="Twitter")
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/fb.svg", alt="FaceBook")
              li.footer__soc-item: a.footer__soc-link(href="#!"): img.footer__soc-ico(src="../../components/footer/img/ig.svg", alt="Instagram")
  else if theme === 'full'
    footer.footer
      .footer__main
        .footer__container
          .footer__description
            a.footer__logo(href="/index.pug"): img(src="../../logo.svg", alt="Toxin")
            p.footer__info Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          nav.footer__nav
            each nav in navigations
              ul.footer__item
                h3.footer__title= nav.title
                each item in nav.items
                  li.footer__list-item: a.footer__list-link(href=`${item.href}`)= item.title
          form.footer__newsletter
            h3.footer__title Подписка
            p.footer__info Получайте специальные предложения и новости сервиса
            .footer__input-newsletter
              +field({theme: 'with-arrow', name: 'email', type: 'email', placeholder: 'Email'})
      .footer__sub
        .footer__sub-container
          p.footer__copyright Copyright © 2019 Toxin отель. Все права зачищены.
          nav.footer__soc-list
            ul.footer__item
              li.footer__soc-item: a.footer__soc-link(href="https://twitter.com/" rel="noopener noreferrer" target="_blank"): img.footer__soc-ico(src="../../components/footer/img/twitter.svg", alt="Twitter")
              li.footer__soc-item: a.footer__soc-link(href="https://www.facebook.com/" rel="noopener noreferrer" target="_blank"): img.footer__soc-ico(src="../../components/footer/img/fb.svg", alt="FaceBook")
              li.footer__soc-item: a.footer__soc-link(href="https://www.instagram.com/" rel="noopener noreferrer" target="_blank"): img.footer__soc-ico(src="../../components/footer/img/ig.svg", alt="Instagram")
