extends ../template-base

block title
  title Отель «Toxin» | Регистрация
  
block styles
  link(rel="stylesheet" href="sign-up.sass")


block content
  include ../mixins-pug
  
  include ../../components/main-header/header
    
  main.main
    .container
      include ../../components/user-form/sign-up-form
            
  include ../../components/main-footer/footer
