extends ../template-base

block title
  title Отель «Toxin» | Регистрация

block styles
  link(rel="stylesheet" href="sign-up.sass")


block content
  +header('non-authorized')

  main.main
    .main__container
      include ../../components/user-form/sign-up-form

  +footer('full')
