extends ../template-base

block title
  title Отель «Toxin» | Регистрация
  
block styles
  link(rel="stylesheet" href="sign-up.sass")


block content
  include ../mixins-pug
  
  include ../../components/header/header-non-authorized
    
  main.main
    .container
      include ../../components/user-form/sign-up-form
            
  include ../../components/footer/footer
