extends ../template-base

block title
  title Отель «Toxin» | Регистрация

block styles
  link(rel="stylesheet" href="sign-up.sass")


block content
  main.main
    .main__container
      form.user-form
        .user-form__wrapper
          h1.user-form__title Регистрация аккаунта
          .user-form__item
            +field(placeholder="Имя" name="name")
            +field(placeholder="Фамилия" name="surname")
            +radio({text: 'Мужчина', id: 'man', name: 'sex', value: 'man'})(checked)
            +radio({text: 'Женщина', id: 'woman', name: 'sex', value: 'woman'})
          .user-form__item
            +field({
              theme: 'with-label',
              className: 'user-form',
              text: 'Дата рождения',
              id: 'birthday'
            })(placeholder="ДД.ММ.ГГГГ" name="birthday")
          .user-form__item
            label.user-form__label Данные для входа в сервис
            +field(placeholder="Email" name="email")
            +field(placeholder="Пароль" type="password")
            +toggle('Получать спецпредложения', 'receive-offers')
          .user-form__item
            .user-form__btn-buy
              +btn({text: 'Перейти к оплате', theme: 'arrow'})
          .user-form__sign-in
            p.user-form__question Уже есть аккаунт на Toxin
            +btn({text: 'Войти', size: 'xl', href: "/../sign-in/sign-in.pug"})

