.colors
    .colors__item
        .colors__box.colors__box--d100
        .colors__info
            p Dark Shade 100%
            span.colors__hex #1F2041
    .colors__item
        .colors__box.colors__box--d75
        .colors__info
            p Dark Shade 75%
            span.colors__hex #1F2041
    .colors__item
        .colors__box.colors__box--d50
        .colors__info
            p Dark Shade 50%
            span.colors__hex #1F2041
    .colors__item
        .colors__box.colors__box--d25
        .colors__info
            p Dark Shade 25%
            span.colors__hex #1F2041
    .colors__item
        .colors__box.colors__box--d5
        .colors__info
            p Dark Shade 5%
            span.colors__hex #1F2041
    .colors__item
        .colors__box.colors__box--purple
        .colors__info
            p Purple
            span.colors__hex #BC9CFF
    .colors__item
        .colors__box.colors__box--green
        .colors__info
            p Green
            span.colors__hex #6FCF97
