.btn
  display: inline-block
  padding: 9px 20px 9px 20px
  border-radius: 22px
  text-transform: uppercase
  font-size: 12px
  line-height: 15px
  font-weight: bold
  color: $puprle

  position: relative
  background-color: #fff

.btn_not-gradient
  padding: 8px 19px 7px 19px

.btn_not-gradient::after
  content: ""
  position: absolute
  z-index: -1
  border-radius: 22px
  top: -2px
  left: -2px
  bottom: -2px
  right: -2px
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)

.btn_gradient
  color: #fff
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
