form.check-form.datepicker-place
  .check-form__item.check-form__item_group
    h2.check-form__number
      span №
      | 888
    +link('check-form__lux', 'Люкс')
    p.check-form__price_default <b>9 990₽</b> в сутки
  .check-form__item
    +field-group('check-form', 'Прибытие', 'check-form__from', 'Выезд', 'check-form__to')(value="ДД.ММ.ГГГГ" autocomplete="off" readonly)
  .check-form__item
    +field-dropdown('Гости', 'guests')(value="Сколько гостей" readonly)
    .dropdown__content#guestsDrop
      span.dropdown__item
        span.dropdown__target Взрослые
        a.dropdown__btn.dropdown__btn-minus(href="#!") -
        span.dropdown__value 0
        a.dropdown__btn.dropdown__btn-plus(href="#!") +
      span.dropdown__item
        span.dropdown__target Дети
        a.dropdown__btn.dropdown__btn-minus(href="#!") -
        span.dropdown__value 0
        a.dropdown__btn.dropdown__btn-plus(href="#!") +
      span.dropdown__item#guestsDropPrimeItem
        span.dropdown__target Младенцы
        a.dropdown__btn.dropdown__btn-minus(href="#!") -
        span.dropdown__value#guestsDropPrimeItemValue 0
        a.dropdown__btn.dropdown__btn-plus(href="#!") +
      .dropdown__functions
        a.dropdown__func-btn.dropdown__clear(href="#!") Очистить
        a.dropdown__func-btn.dropdown__apply(href="#!") Применить
  .check-form__item
    .check-form__conclusion
      span.check-form__text 9 990₽ х 4 суток
      span.check-form__text 39 960₽
    .check-form__conclusion
      span.check-form__text.check-form__text-info Сбор за услуги: скидка 2 179₽
      span.check-form__text 0₽
    .check-form__conclusion
      span.check-form__text.check-form__text-info Сбор за дополнительные услуги
      span.check-form__text 300₽
  .check-form__item
    .check-form__final-price.check-form__item_group
      h2 Итого
      .check-form__price-line
      h2 38 081₽
  .check-form__item
    +btn_arrow('check-form__book-btn', 'Забронировать')(href="#!")
