// Забронировать
.check-form
  padding: 40px 30px 30px 30px
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  align-self: start
  background-color: #fff
  width: 380px

.check-form__item
  margin-bottom: 20px
  position: relative
  &:nth-last-child(2)
    margin-bottom: 0px
  &_group
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: baseline
    position: relative
    justify-content: space-between

.check-form__number
  margin-right: 5px
  span
    font-family: 'montserrat-example', sans-serif
    font-size: 13px
    margin-right: 5px

.check-form__price_default
  margin-left: auto

.check-form__field
  position: relative
  width: 150px

.check-form__conclusion
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  margin-bottom: 10px

.check-form__text
  max-width: 214px
  position: relative
  line-height: 18px

.check-form__text-info::after
  content: 'i'
  width: 20px
  height: 20px
  border-radius: 50%
  border: 1px solid $accent25
  position: absolute
  text-align: center
  line-height: 18px
  color: $accent25
  cursor: help
  top: 0
  right: -30px
  display: block
  font-weight: bold

.check-form__final-price
  margin-top: 30px

.check-form__price-line
  border-bottom: 2px dotted $accent25
  width: 100%
  height: 5px
  margin: 0 5px

.check-form__final-price
  h2:last-child
    white-space: nowrap
    font-family: 'montserrat-example'
