form.check-form.datepicker-place
  .check-form__item.check-form__item_group
    h2.check-form__number
      span №
      | 888
    +link('check-form__lux', 'Люкс')
    p.check-form__price_default <b>9 990₽</b> в сутки
  .check-form__item#checkFormCalendar
    +field-group('check-form', 'Прибытие', 'check-form__from', 'Выезд', 'check-form__to')(value="ДД.ММ.ГГГГ" autocomplete="off" readonly)
  .check-form__item
    +field-dropdown('Гости', 'guests')(value="Сколько гостей" readonly)
  .check-form__item
    .check-form__conclusion
      span.check-form__text 9 990₽ х 4 суток
      span.check-form__text 39 960₽
    .check-form__conclusion
      span.check-form__text.check-form__text-info Сбор за услуги: скидка 2 179₽
      span.check-form__text 0₽
    .check-form__conclusion
      span.check-form__text.check-form__text-info Сбор за дополнительные услуги
      span.check-form__text 300₽
  .check-form__item
    .check-form__final-price.check-form__item_group
      h2 Итого
      .check-form__price-line
      h2 38 081₽
  .check-form__item
    +btn_arrow('check-form__book-btn', 'Забронировать')(href="#!")
