include ../checkbox/checkbox

mixin checkbox-list({ title, items, expandable })
    if expandable === true
        .checkbox-list.checkbox-list_expandable
            label.checkbox-list__title= title
                input.checkbox-list__check(type="checkbox")
                .checkbox-list__cap
                ul.checkbox-list__checkboxes
                    each item in items
                        +checkbox(item)
    else
        .checkbox-list
            ul.checkbox-list__checkboxes
                each item in items
                    +checkbox(item)
