extends ../template-base

block title
  title Отель «Toxin» | Компоненты
  
block styles
  link(rel="stylesheet" href="ui-kit.sass")

block content
  include ../mixins-pug
  
  main
    .ui-kit-container
      p.field
        label.field(for="field-email") Text Field
        input.field_default#field-email(type="email" placeholder="Email")
        
        
      input.field_default.field_default-dropdown(value="Сколько гостей")
