@import "../../sass/main.sass"

//
.ui-kit-container
  max-width: 1200px
  margin: 0 auto
  padding: 20px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  & > input, div, a
    margin-top: 20px
    &:first-child
      margin-top: 0
//


.field-default
  width: 320px
  height: 44px
  border: 1px solid $accent25
  border-radius: 4px
  padding: 13px 15px
  outline: none
  color: $accent75
  &::placeholder
    color: $accent25
  &:hover, &:focus
    border: 1px solid $accent50
