@import "../../sass/main.sass"
// @import "../../components/buttons/buttons.sass"
@import "../../components/field-default/field-default.sass"

//
.ui-kit-container
  max-width: 1200px
  margin: 0 auto
  padding: 20px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  & > input, div, a
    margin-top: 20px
    &:first-child
      margin-top: 0
//
