extends ../template-base

block title
  title Отель «Toxin» | Компоненты
  
block styles
  link(rel="stylesheet" href="ui-kit.sass")

block content
  include ../mixins-pug
  
  main
    
    include colors-type/colors-type
    
    img.logo_min(src="img/logo_min.svg", alt="logo")
      
    .form-elements
      .container
        .fields
          .t-field
            +field-label('text field', 'fieldDefault')(placeholder="Email")
          .t-field
            +field-label('text field', 'fieldHover')(value="This is pretty awesome")
          .t-field
            +field-dropdown('text field', 'dropdown')(value="Сколько гостей")
          .t-field
            +field-masked('Masked text field', 'masked', 't-field_dropdown')(placeholder="ДД.ММ.ГГГГ")
          +field-group('t-field', 'date Dropdown', 'arrival', 'date Dropdown', 'checkOut', '', '19.03.2019')(placeholder="ДД.ММ.ГГГГ")
          .t-field
            +field-dropdown('filter date dropdown', 'filterDate')(value="19 авг - 23 авг")
          .t-field
            +field-arrow('subscription text field', 'subscr')(type="email" placeholder="Email")
        .buttons
          .buttons__checkbox
            h3 Checkbox Buttons
            .checkbox__example
              +checkbox('Можно курить', 'smoke')
              +checkbox('Можно с питомцами', 'pets', 1)
              +checkbox('Можно пригласить гостей (до 10 человек)', 'guests', 1)
          .buttons__radio
            h3 Radio Buttons
            .radio__example
              include ../../components/buttons/radio/radio
          .buttons__toggle
            h3 Toggle
            .toggle__example
              +btn-toggle('Получать спецпредложения', 'offer')(checked)
            .toggle__example
              +btn-toggle('Получать спецпредложения', 'offer2')
          .buttons__like
            h3 Like Button
            .like__group
              +like('12')
              +like('12', true)
          .buttons__like
            h3 Rate Button
            .rate__group
              +rate(1)
              +rate(1)
              +rate(1)
              +rate(1)
              +rate()
            .rate__group
              +rate(1)
              +rate(1)
              +rate(1)
              +rate(1)
              +rate(1)

              
              

            
