include ../mixins-pug

block title
  title Отель «Toxin» | Компоненты

block styles
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" href="ui-kit.sass")

block content
  include ../mixins-pug

  main.ui-kit
    .ui-kit__section
      include colors-type/colors-type
    include form-elements/form-elements
    include cards/cards
    include headers-footers/headers-footers

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="ui-kit.js")
  script(src="../../components/header/header.js")
