include ../../pages/mixins-pug

.rooms-filter
    .rooms-filter__item
        .rooms-filter__field.rooms-filter__field_with-date
            +field({theme: "with-dropdown", text: "Даты пребывания в отеле", value: "Выберите дату"})
        .rooms-filter__field.rooms-filter__field_with-guests
            +field({
              theme: "with-dropdown",
              text: "Гости",
              value: "Сколько гостей"
            })
    .rooms-filter__item.rooms-filter__item_with-range-slider
        label.rooms-filter__label Диапазон цены
        span.rooms-filter__values
    .rooms-filter__item
        label.rooms-filter__label Привелегии
        .rooms-filter__checkbox
            +checkbox-list({
              items: [
                {
                  text: "Можно курить",
                },
                {
                  text: "Можно с питомцами",
                  check: true
                },
                {
                  text: "Можно пригласить гостей (до 10 человек)",
                  check: true
                }
              ]
            })
    .rooms-filter__item
        label.rooms-filter__label Доступность
        .rooms-filter__checkbox
            +checkbox-list({
              items: [
                { theme: "rich", title: "Широкий коридор", text: "Ширина коридоров в номере не менее 91 см."},
                { theme: "rich", title: "Помощник для инвалидов", text: "На 1 этаже вас встретит специалист  и проводит до номера."}
              ]
            })
    .rooms-filter__item.rooms-filter__item_with-comfort-filter
        +field({
          theme: "with-dropdown",
          text: "Удобства номера",
          value: "Выберите удобства"
        })
    .rooms-filter__item
        +checkbox-list({
          expandable: true,
          title: "Дополнительные удобства",
          items:
            [
              {
                text: "Завтрак"
              },
              {
                text: "Письменный стол",
                check: true
              },
              {
                text: "Стул для кормления",
                check: true
              },
              {
                text: "Кроватка",
                check: true
              },
              {
                text: "Телевизор"
              },
              {
                text: "Шампунь"
              },
              {
                text: "Интернет"
              },
              {
                text: "Связь с космосом"
              }
            ]
        })
