extends ../template-base

block title
  title Отель «Toxin» | Главная

block styles
  link(rel="stylesheet" href="index.sass")

block content
  main.index
    .index__container
      +find-room("Найдём номера под ваши пожелания")
      p.index__wishes Лучшие номера для вашей работы, отдыха и просто вдохновения


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="index.js")
