extends ../template-base

block title
  title Отель «Toxin» | Главная
  
block styles
  link(rel="stylesheet" href="index.sass")

block content
  include ../mixins-pug
  
  include ../../components/main-header/header
    
  main
    .container
      //- a(href="../ui-kit/ui-kit.pug") Ui kit
      
  include ../../components/main-footer/footer
