extends ../template-base

block title
  title Отель «Toxin» | Главная
  
block styles
  link(rel="stylesheet" href="index.sass")


block content
  include ../mixins-pug
  
  include ../../components/header/header-non-authorized
  
  a(id="ui-kit" href="../UI-kit-new/UI-kit-new.pug") Ui kit
  
  main.main
    .container
      include ../../components/find-room/find-room
      p.main__wishes Лучшие номера для вашей работы, отдыха и просто вдохновения

  include ../../components/main-footer/footer
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="../../components/calendar/datepicker.js")
  script(src="index.js")
  script(src="../../components/field/dropdown/dropdown.js")
