@import "../../sass/main.sass"
@import "../../components/main-header/header.sass"
@import "../../components/main-footer/footer.sass"
@import "../../components/field/field.sass"
@import "../../components/find-room/find-room.sass"
@import "../../components/calendar/datepicker.css"

main
  background: $accent5 url('img/index_bg.jpg') no-repeat
  background-size: cover
  // background-size: cover auto
  // background-position: 0 -70px
  background-position: 0 -200px
  padding-top: 70px
  padding-bottom: 386px
  .container
    position: relative
.main__wishes
  position: absolute
  right: -6px
  bottom: -363px
  text-align: right
  width: 297px
  line-height: 24px
