extends ../template-base

block title
  title Тестовый сайт
  
block styles
  link(rel="stylesheet" href="index.sass")

block content
  include ../mixins-pug
  
  include ../../components/header/header
  
  main
    .container
      h1 Шапка
      
  include ../../components/footer/footer
