@import "../../sass/main"
@import "../../components/header/header"
@import "../../components/footer/footer"
@import "../../components/field/field"
@import "../../components/dropdown/dropdown"
@import "../../components/find-room/find-room"

.main
  background: $accent5 url('img/index-bg.jpg') no-repeat center / cover

  &__container
    @include container
    padding-top: 5rem
    padding-bottom: 27.5714rem
    position: relative
    height: 100%

  &__wishes
    position: absolute
    right: -0.4286rem
    bottom: 1.6429rem
    text-align: right
    width: 21.2143rem
    line-height: 1.7143rem
    margin-right: 1.0714rem

.js-Calendar
  top: 5.3571rem !important
