include ../field/field
include ../btn/btn

mixin find-room(title)
  .find-room
    h1.find-room__title= title
    form.find-room__form
      .find-room__item.find-room__item_with-calendar
        .find-room__group-field
          .find-room__field.find-room__field_type-from
            +field({
              theme: "with-dropdown",
              text: "Прибытие",
              value: "ДД.ММ.ГГГГ"
            })
          .find-room__field.find-room__field_type-to
            +field({
              theme: "with-dropdown",
              text: "Выезд",
              value: "ДД.ММ.ГГГГ"
            })
      .find-room__item
        .find-room__guests
          +field({
            theme: "with-dropdown",
            text: "Гости",
            value: "Сколько гостей"
          })
      .find-room__btn
        +btn({text: "Подобрать номер", theme: "arrow", href: "/../rooms-page/rooms-page.pug"})

