include ../field/field
include ../btn/btn

mixin find-room(title)
  .find-room
    h1.find-room__title= title
    form.find-room__form
      .find-room__item.find-room__item--with-calendar
        .find-room__group-field
          .find-room__field
            +field({
              theme: 'with-dropdown',
              text: 'Прибытие',
              id: 'find-room__from',
              value: "ДД.ММ.ГГГГ"
            })
          .find-room__field
            +field({
              theme: 'with-dropdown',
              text: 'Выезд',
              id: 'find-room__to',
              value: "ДД.ММ.ГГГГ"
            })
      .find-room__item
        .find-room__guests
          +field({
            theme: 'with-dropdown',
            text: 'Гости',
            id: 'guests',
            value: "Сколько гостей"
          })
      .find-room__btn
        +btn({text: 'Подобрать номер', theme: 'arrow', href: "/../rooms-page/rooms-page.pug"})

