.find-room
  h1.find-room__title Найдём номера под ваши пожелания
  form.find-room__form
    .find-room__item#findRoomCalendar
      +field({
        theme: 'group',
        className: 'find-room',
        text: {
          first: 'Прибытие',
          second: 'Выезд'
        },
        id: {
          first: 'find-room__from',
          second: 'find-room__to'
        }
      })(value="ДД.ММ.ГГГГ" autocomplete="off" readonly)
    .find-room__item
      .find-room__guests
        +field({theme: 'with-dropdown', text: 'Гости', id: 'guests'})(value="Сколько гостей" readonly)
    .find-room__btn
      +btn('Подобрать номер', 'arrow')(href="/../rooms/rooms.pug")
