extends ../template-base

block title
  title Отель «Toxin» | Регистрация

block styles
  link(rel="stylesheet" href="sign-up-page.sass")


block content
  main.sign-up-page
    .sign-up-page__container
      +sign-up()
