.cards
    .cards__grid
        .cards__container
            .cards__item
                +find-room('Найдём номера под ваши пожелания')
            .cards__item
                +sign-in()
        .cards__container
            .cards__item
                +check-form({
                  number: 888,
                  lux: true,
                  payPerDay: 9990,
                  days: 4,
                  serviceCharge: 0,
                  serviceChargeDiscount: 2179,
                  additionalServiceCharge: 300
                })
            .cards__item
                +sign-up()
        .cards__container
            .cards__item
                .cards__item_with-calendar
            .cards__item
                +rooms-item({
                  img: "../rooms-page/img/image-1.jpg",
                  num: "888",
                  lux: true,
                  price: "9 990",
                  stars: 5,
                  reviews: 145
                })
            .cards__item
                +rooms-item({
                  img: "../rooms-page/img/image-2.jpg",
                  num: "840",
                  lux: true,
                  price: "9 900",
                  stars: 4,
                  reviews: 65
                })

