.cards
  padding-top: 3.5714rem
  background-color: #F4F4F6

  &__container
    @include container
    display: flex
    padding: 0 1.0714rem
    position: relative
    align-content: center
    justify-content: center
    flex-direction: column

  &__grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr

  &__item
    margin-bottom: 1.4286rem
    display: flex


.js-cards__calendar
  left: 0 !important
  width: 22.7143rem !important
  position: static !important
