.ui-kit__section
    .cards
        img.ui-kit__logo(src="img/logo_min.svg", alt="logo")
        .cards-grid
            .container
                .cards__item
                    include ../../../components/find-room/find-room
                .cards__item
                    form.user-form
                        .user-form__wrapper
                            h1.user-form__title Войти
                            .user-form__item
                                +field(placeholder="Email" name="email")
                                +field(placeholder="Пароль" type="password")
                            .user-form__item
                                .user-form__btn
                                    +btn('Войти', 'arrow')(href="#!")
                            .user-form__sign-in
                                p.user-form__question Нет аккаунта на Toxin?
                                +btn('Создать', '', 'l')(href="/../sign-up/sign-up.pug")
            .container
                .cards__item
                    +check-form({
                      number: 888,
                      lux: true,
                      payPerDay: 9990,
                      days: 4,
                      serviceCharge: 0,
                      serviceChargeDiscount: 2179,
                      additionalServiceCharge: 300
                    })
                .cards__item
                    form.user-form
                        .user-form__wrapper
                            h1.user-form__title Регистрация аккаунта
                            .user-form__item
                                +field(placeholder="Имя" name="name")
                                +field(placeholder="Фамилия" name="surname")
                                +radio({
                                  text: 'Мужчина',
                                  id: 'man',
                                  name: 'sex',
                                  value: 'man'
                                })(checked)
                                +radio({
                                  text: 'Женщина',
                                  id: 'woman',
                                  name: 'sex',
                                  value: 'woman'
                                })
                            .user-form__item
                                +field({
                                  theme: 'with-label',
                                  className: 'user-form',
                                  text: 'Дата рождения',
                                  id: 'birthday'
                                })(placeholder="ДД.ММ.ГГГГ" name="birthday")
                            .user-form__item
                                label.label Данные для входа в сервис
                                +field(placeholder="Email" name="email")
                                +field(placeholder="Пароль" type="password")
                                +toggle('Получать спецпредложения', 'receive-offers')
                            .user-form__item
                                .user-form__btn-buy
                                    +btn('Перейти к оплате', 'arrow')(href="#!")
                            .user-form__sign-in
                                p.user-form__question Уже есть аккаунт на Toxin
                                +btn('Войти', '', 'xl')(href="/../sign-in/sign-in.pug")
            .container
                .cards__item
                    div(id="ui-kit__preview-calendar")
                .cards__item
                    .rooms__item
                        +rooms-item({
                          img: "../rooms/img/image-1.jpg",
                          num: "888",
                          lux: true,
                          price: "9 990",
                          stars: 5,
                          reviews: 145
                        })
                .cards__item
                    .rooms__item
                        +rooms-item({
                          img: "../rooms/img/image-2.jpg",
                          num: "840",
                          lux: true,
                          price: "9 900",
                          stars: 4,
                          reviews: 65
                        })

