.main-footer
  .container
    padding: 100px 0
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between

.main-footer__nav
    display: -webkit-flex
    display: -ms-flex
    display: flex

.footer-nav
  list-style: none
  &:nth-child(2)
    margin: 0 92px 0 58px

.footer-nav__link
  color: $accent50
  line-height: 17px

.footer-nav__item
  margin-top: 20px
      display: list-item
  &:nth-child(2)
    margin-top: 21

.main-footer__description
  width: 260px
  line-height: 24px
  margin-right: 40px

.main-footer__subscription
  width: 260px
  line-height: 24px
  margin-left: 51px

.footer-subscription__offer
  margin:
    top: 21px
    bottom: 20px
