.type
    .type__item.type__item--h1
        span.type__tag H1
        span.type__text This one is the sub-section or widget title
    .type__item.type__item--h2
        span.type__tag H2
        span.type__text Next one is the item title inside widgets
    .type__item.type__item--h3
        span.type__tag H3
        span.type__text This is a label or CTA text
    .type__item.type__item--body
        span.type__tag Body
        span.type__text This is the body text which is used for most of the design, like paragraphs, lists, etc.
