include ../components/header/header

include ../components/footer/footer

include ../components/buttons/buttons

include ../components/field/field

include ../components/checkbox/checkbox

include ../components/radio/radio

include ../components/buttons/toggle/toggle

include ../components/like/like

include ../components/rate/rate

include ../components/advantages/advantages

include ../components/reviews/reviews

include ../components/bullet-list/bullet-list

include ../components/rooms-item/rooms-item
