@import "../image-helpers/image-helpers"

.rooms__item
  background: #FFFFFF
  box-shadow: 0 10px 20px $accent5
  border-radius: 4px
  cursor: pointer
  transition: .25s
  position: relative

  &:hover
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.15)
    transition: .25s

.rooms-item
  &__info
    display: flex
    align-items: baseline
    padding-bottom: 10px
    border-bottom: 1px solid $accent10

  &__img
    width: 100%

  &__price
    margin-left: auto
    font-size: 12px

    &-text
      font-size: 14px
      color: $accent50

  &__rating
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    margin-top: 8px

  &__wrapper
    padding: 20px

  &__num
    @include h2
    font-family: $opensans-font
    margin-right: 5px

    &-ico
      font-family: $default-font
      font-size: 13px

  &__image
    position: relative
    &:hover
      .image-helpers__arrow
        transition: .3s
        opacity: 1

  &__reviews
    line-height: 24px

    &-text
      color: $accent50


