mixin rooms-item({ img, num, lux, price, stars, reviews, photos })
  .rooms-item
    a(href="/../page-room/page-room.pug" class="rooms-item__link")
    .rooms-item__image
      img.rooms-item__img(src=img, alt="Фотография номера")
      +image-helpers({photos})
    .rooms-item__wrapper
      .rooms-item__info
        h2.rooms-item__num
          span.rooms-item__num-ico №
          h2.rooms-item__num= num
        if (lux === true)
          +btn('Люкс', 'link')
        p.rooms-item__price
          b.rooms-item__price-text= price + "₽"
          |  в сутки
      .rooms-item__rating
        +rate(stars, 5)
        p.rooms-item__reviews
          b.rooms-item__reviews-text= reviews
          |  Отзывов
