.reviews
  padding: 0

  &__item
    display: flex
    list-style: none
    margin-bottom: 1.4286rem

    &:last-child
      margin-bottom: 0

  &__dynamics
    text-align: center
    margin-right: 0.7143rem

  &__comment
    margin-left: 0.1429rem

  &__author
    color: $accent75
    line-height: 2.1429rem
    cursor: pointer

    &:hover
      text-decoration: underline

  &__text
    line-height: 1.7143rem
    margin-top: 0.9286rem
    padding-right: 0.7143rem

  &__profile-photo
    margin-bottom: 0.0714rem
    max-width: none
    cursor: pointer

  &__likes
    margin-top: 1.0714rem
    margin-left: 0.2143rem
