header.main-header
  .container
    a.main-header__logo(href="#"): img(src="../../logo.svg", alt="Toxin")
    nav.main-header__nav
      ul.site-nav
        li.site-nav__item
          a.site-nav__link(href="#") О нас
        li.site-nav__item.site-nav__item_has-submenu
          a.site-nav__link(href="#") Услуги
        li.site-nav__item
          a.site-nav__link(href="#") Вакансии
        li.site-nav__item
          a.site-nav__link(href="#") Новости
        li.site-nav__item.site-nav__item_has-submenu
          a.site-nav__link(href="#") Соглашения
      .user-nav
        ul.user-nav__list
          li.user-nav__item
            +button('btn_not-gradient', 'Войти')(href="#")
          li.user-nav__item
            +button('btn_gradient', 'Зарегистрироваться')(href="#")
