extends ../template-base

block title
  title Отель «Toxin» | Вход
  
block styles
  link(rel="stylesheet" href="sign-in.sass")


block content
  include ../mixins-pug
  
  include ../../components/main-header/header
    
  main.main
    .container
      include ../../components/user-form/sign-in-form

  include ../../components/main-footer/footer
