extends ../template-base

block title
  title Отель «Toxin» | Вход

block styles
  link(rel="stylesheet" href="sign-in.sass")


block content
  +header('non-authorized')

  main.main
    .main__container
      include ../../components/user-form/sign-in-form

  +footer('full')
