@import "../../sass/main.sass"
@import "../../components/header/header.sass"
@import "../../components/footer/footer.sass"
@import "../../components/user-form/user-form.sass"

.main
  background: $accent5 url('../sign-up/img/bg.jpg') no-repeat center / cover
  background-position-y: bottom
  padding: 163px 0
  z-index: 0

  .main__container
    @include container
    display: flex
    justify-content: center
