@import "../../sass/main.sass"
@import "../../components/main-header/header.sass"
@import "../../components/main-footer/footer.sass"
@import "../../components/sign-in-form/sign-in-form"

.main
  background: $accent5 url('../registration/img/bg.jpg') no-repeat center / cover
  background-position-y: bottom
  padding: 163px 0
  z-index: 0
  .container
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: center
