@import "../../sass/index"

.radio
  $root: &

  &__label
    display: inline-block
    cursor: pointer
    position: relative
    padding-left: 2.1429rem
    margin-right: 1.7857rem
    margin-top: 0.1429rem
    font-size: 0.9286rem
    width: auto

  &__span
    &:before
      content: ""
      display: block
      width: 1.4286rem
      height: 1.4286rem
      margin-right: 1rem
      position: absolute
      top: -0.2143rem
      left: 0
      border: 0.0714rem solid $accent25
      background-color: #fff
      border-radius: 50%

  &__input
    display: none !important

    &:checked + #{$root}__span:after
      content: ""
      display: block
      position: absolute
      top: 0.0714rem
      left: 0.2857rem
      width: 0.8571rem
      height: 0.8571rem
      border-radius: 50%
      background: linear-gradient(180deg, $blue 0%, $blue 100%)

    &:checked #{$root}__span
      color: $accent75
