// Сведения о номере

.advantages
  list-style-type: none

.advantages__item
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: flex-end
  padding-bottom: 17px
  border-bottom: 1px solid $accent10
  margin-bottom: 23px
  &:last-child
    margin-bottom: 0
    border-bottom: 0

.advantages__ico
  font-size: 48px
  background: -webkit-linear-gradient(-90deg, #BC9CFF 0%, #8BA4F9 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  user-select: none
  margin-right: 10px

.advantages__title
  color: $accent75
  font-weight: bold
