.advantages
  list-style-type: none
  padding: 0

  &__item
    display: flex
    align-items: flex-end
    padding-bottom: 1.2143rem
    border-bottom: 0.0714rem solid $accent10
    margin-bottom: 1.6429rem
    max-width: 20.7143rem
    &:last-child
      margin-bottom: 0
      border-bottom: 0
      padding-bottom: 0

  &__ico
    font-size: 3.4286rem
    background: -webkit-linear-gradient(-90deg, #BC9CFF 0%, #8BA4F9 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    user-select: none
    margin-right: 0.7143rem

  &__title
    color: $accent75
    font-weight: bold
