.rating__star
  margin-right: 4px
  cursor: pointer

  &:last-child
    margin-right: 0

  path
    fill: none
    stroke: url(#paint0_linear)

  &_selected
    path
      fill: url(#paint0_linear)
      stroke: url(#paint0_linear)
