mixin rate(stars, from)
  .rate
    - for (var i = 1; i <= from; i++)
    if (i <= stars)
      span.rate__star.rate__star_selected
          svg.rate__svg(width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M10.264 15.749l-6.188 3.75 1.64-7.031L.28 7.732l7.172-.61L10.264.515l2.812 6.61 7.172.61-5.438 4.733 1.641 7.032-6.187-3.75z")
              defs
                  linearGradient(id="paint0_linear" x1="10.264" y1="-1.501" x2="10.264" y2="22.499" gradientUnits="userSpaceOnUse")
                      stop(offset="0" stop-color="#BC9CFF")
                      stop(offset="1" stop-color="#8BA4F9")
    else
      span.rate__star
          svg.rate__svg(width="21" height="20" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M10.264 15.749l-6.188 3.75 1.64-7.031L.28 7.732l7.172-.61L10.264.515l2.812 6.61 7.172.61-5.438 4.733 1.641 7.032-6.187-3.75z")
              defs
                  linearGradient(id="paint0_linear" x1="10.264" y1="-1.501" x2="10.264" y2="22.499" gradientUnits="userSpaceOnUse")
                      stop(offset="0" stop-color="#BC9CFF")
                      stop(offset="1" stop-color="#8BA4F9")
