.rate
  &__star
    margin-right: 4px
    cursor: pointer

    &--selected
      margin-right: 4px
      path
        fill: url(#paint0_linear)
        stroke: url(#paint0_linear)

    &:last-child
      margin-right: 0

    path
      fill: none
      stroke: url(#paint0_linear)

