@import "../../sass/main"
@import "../../components/field/field"
@import "../../components/field/dropdown/dropdown"
@import "../../components/calendar/datepicker"
@import "../../components/buttons/checkbox/checkbox"
@import "../../components/advantages/advantages"
@import "../../components/buttons/toggle/toggle"
@import "../../components/buttons/radio/radio"
@import "../../components/buttons/buttons"
@import "../../components/buttons/like/like"
@import "../../components/buttons/rate/rate"
@import "../../components/reviews/reviews"
@import "../../components/range-slider/range-slider"
@import "../../components/pagination/pagination"
@import "../../components/bullet-list/bullet-list"
@import "../../components/find-room/find-room"
@import "../../components/user-form/user-form"
@import "../../components/check-form/check-form"
@import "../../components/rooms-item/rooms-item"
@import "../../components/main-header/header"
@import "../../components/main-footer/footer"

.main
  display: grid
  grid-template-columns: 1fr 1fr 1fr

.cards
  padding-top: 50px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  background-color: #F4F4F6

.main__item
  border: 3px dotted $accent25
  max-width: 320px
  position: relative
  &:last-child
    margin-bottom: 0

.main__item_short
  max-width: 266px

.main__item_long
  max-width: none

.cards__item
  margin-bottom: 20px
  display: -webkit-flex
  display: -ms-flex
  display: flex

#ui-kit__preview-calendar
  display: none

.header-footer
  background-color: #F4F4F6
  > div
    margin-bottom: 20px

.section__item
  z-index: 0
  position: relative
