.like
  $root: &
  display: inline-block
  font-size: 0.714rem
  padding: 2px
  border-radius: 13px
  color: $accent25
  background: linear-gradient(to top, $accent25)
  cursor: pointer
  white-space: nowrap

  &:hover
    background: linear-gradient(to top, $blue, $purple)
    color: $purple

    #{$root}__icon path
      fill: $purple
      stroke: none

  &--checked
    background: linear-gradient(to top, $blue, $purple)
    color: $purple

    #{$root}__icon path
      fill: $purple
      stroke: none

    &:hover
      background: linear-gradient(to top, $accent25)
      color: $accent25

      #{$root}__icon path
        fill: $accent25
        stroke: none

  &__wrapper
    background: #fff
    padding: 4px 10px
    border-radius: 15px

  &__icon
    vertical-align: middle
    margin-right: 5px
