.ui-kit__section
  .colors-type
    img.ui-kit__logo(src="img/logo_min.svg", alt="logo")
    .container
      .colors
        .colors__item
          .colors__box.d100
          .colors__info
            p Dark Shade 100%
            span #1F2041
        .colors__item
          .colors__box.d75
          .colors__info
            p Dark Shade 75%
            span #1F2041
        .colors__item
          .colors__box.d50
          .colors__info
            p Dark Shade 50%
            span #1F2041
        .colors__item
          .colors__box.d25
          .colors__info
            p Dark Shade 25%
            span #1F2041
        .colors__item
          .colors__box.d5
          .colors__info
            p Dark Shade 5%
            span #1F2041
        .colors__item
          .colors__box.purple
          .colors__info
            p Purple
            span #BC9CFF
        .colors__item
          .colors__box.green
          .colors__info
            p Green
            span #6FCF97

      .type
        .type__item
          span.type__tag H1
          .type__example
            h1 This one is the sub-section or widget title
        .type__item
          span.type__tag H2
          .type__example
            h2 Next one is the item title inside widgets
        .type__item
          span.type__tag H3
          .type__example
            h3 This is a label or CTA text
        .type__item
          span.type__tag Body
          .type__example
            p This is the body text which is used for most of the design, like paragraphs, lists, etc.
