.colors-type
  .colors-type__container
    +colors([
            {hex: '#1F2041', title: 'Dark Shade', opacity: '100%'},
            {hex: '#1F2041', title: 'Dark Shade', opacity: '75%'},
            {hex: '#1F2041', title: 'Dark Shade', opacity: '50%'},
            {hex: '#1F2041', title: 'Dark Shade', opacity: '25%'},
            {hex: '#1F2041', title: 'Dark Shade', opacity: '5%'},
            {hex: '#BC9CFF', title: 'Purple'},
            {hex: '#6FCF97', title: 'Green'}])
    +type([
      {class: "colors-type__type-item--h1", tag: 'H1', text: 'This one is the sub-section or widget title'},
      {class: "colors-type__type-item--h2", tag: 'H2', text: 'Next one is the item title inside widgets'},
      {class: "colors-type__type-item--h3", tag: 'H3', text: 'This is a label or CTA text'},
      {class: "colors-type__type-item--body", tag: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'},
    ])
