/* colors */
.colors
  &__item
    display: flex
    align-items: center
    margin-top: 1.4286rem

  &:first-child
    margin-top: 0

  &__box
    width: 5rem
    height: 5rem
    border-radius: 0.4286rem
    margin-right: 2.8571rem

  &__info
    font-family: 'opensans-example', sans-serif
    font-size: 1.3571rem
    line-height: 2.0714rem
    color: $accent

  span
    font-family: 'montserrat-example', sans-serif

.d100
  background-color: $accent

.d75
  background-color: $accent75

.d50
  background-color: $accent50

.d25
  background-color: $accent25

.d5
  background-color: $accent5

.purple
  background-color: $purple

.green
  background-color: $green

/* type */

.type
  &__item
    position: relative
    display: flex
    margin-top: 3.5714rem

    &:first-child
      margin-top: 0

  &__tag
    font-size: 1.7143rem
    line-height: 2.0714rem
    color: $accent25
    text-align: right
    position: absolute
    left: -3.5714rem

  &__example
    width: 25rem

.type__item
  &:nth-child(2)
    .type__tag
      font-size: 1.3571rem
      line-height: 1.6429rem
  &:nth-child(3)
    .type__tag
      font-size: 0.8571rem
      line-height: 1.0714rem
  &:nth-child(4)
    .type__tag
      font-size: 1rem
      line-height: 1.7143rem
