.colors-type
  .colors-type__container
    +colors([
            {hex: '#1F2041', title: 'Dark Shade 100%',  class: "colors-type__colors-item_color-d100"},
            {hex: '#1F2041', title: 'Dark Shade 75%', class: "colors-type__colors-item_color-d75"},
            {hex: '#1F2041', title: 'Dark Shade 50%', class: "colors-type__colors-item_color-d50"},
            {hex: '#1F2041', title: 'Dark Shade 25%', class: "colors-type__colors-item_color-d25"},
            {hex: '#1F2041', title: 'Dark Shade 5%', class: "colors-type__colors-item_color-d5"},
            {hex: '#BC9CFF', title: 'Purple', class: "colors-type__colors-item_color-purple"},
            {hex: '#6FCF97', title: 'Green', class: "colors-type__colors-item_color-green"}])
    +type([
      {class: "colors-type__type-item_type-h1", tag: 'H1', text: 'This one is the sub-section or widget title'},
      {class: "colors-type__type-item_type-h2", tag: 'H2', text: 'Next one is the item title inside widgets'},
      {class: "colors-type__type-item_type-h3", tag: 'H3', text: 'This is a label or CTA text'},
      {class: "colors-type__type-item_type-body", tag: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'},
    ])
