@import "../field/field.sass"
@import "../radio/radio.sass"
@import "../toggle/toggle.sass"

.user-form
  z-index: 0
  background-color: #fff
  border: 1px solid rgba(0, 0, 0, 0.12)
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2)
  border-radius: 4px
  padding: 40px 30px 30px 30px

  &__wrapper
    max-width: 320px

  &__title
    @include h1
    margin-bottom: 20px

  &__item
    margin-bottom: 18px

  &__item > .field, .label:not(.label)
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  &__toggle
    margin-top: 5px

  &__sign-in
    margin-top: 30px
    display: flex
    align-items: center
    justify-content: space-between

  &__question
    color: #000
    margin-right: 10px

  &__btn-sign-in
    padding: 13px 25px !important
    margin-top: 4px

  &__btn-sign-up
    padding: 14px 18px !important

  &__item > .label
    margin-bottom: 5px

  &__btn-buy
    padding-top: 9px
    margin-bottom: -5px
