mixin sign-in()
    form.user-form
        .user-form__wrapper
            h1.user-form__title Войти
            .user-form__item
                +field({
                  placeholder: 'Email',
                  name: 'email',
                  type: 'email'
                })
                +field({
                  placeholder: 'Пароль',
                  name: 'password',
                  type: 'password'
                })
            .user-form__item
                .user-form__btn
                    +btn({
                      text: 'Войти',
                      theme: 'arrow'
                    })
            .user-form__sign-in
                p.user-form__question Нет аккаунта на Toxin?
                +btn({
                  text: 'Создать',
                  size: 'l',
                  href: "/../sign-up/sign-up.pug"
                })
