mixin sign-in()
    form.sign-in
        .sign-in__wrapper
            h1.sign-in__title Войти
            .sign-in__item#signInData
                +field({
                  placeholder: 'Email',
                  name: 'email',
                  type: 'email',
                  labelledby: 'signInData'
                })
                +field({
                  placeholder: 'Пароль',
                  name: 'password',
                  type: 'password',
                  labelledby: 'signInData'
                })
            .sign-in__item
                .sign-in__btn
                    +btn({
                      text: 'Войти',
                      theme: 'arrow'
                    })
            .sign-in__question
                p Нет аккаунта на Toxin?
                +btn({
                  text: 'Создать',
                  size: 'l',
                  href: "/../sign-up-page/sign-up-page.pug"
                })
