.rooms-filter__item.range-slider
    h3.rooms-filter__name Диапазон цены
    span.rooms-filter__values#rangeSliderRoomValue
    .range-slider__app
        input(type="text" class="js-range-slider" name="my_range" value="")
        p.range-slider__info Стоимость за сутки пребывания в номере
