.range-slider
  width: 266px
  position: relative
  &::after
    content: ''
    display: inline-block
    position: absolute
    top: 0
    right: 0
    text-transform: uppercase
    font-size: 12px
    line-height: 15px
  &::after
    content: '5 000₽ - 10 000₽'

.range-slider__line
  height: 6px
  border: 1px solid $accent25
  border-radius: 3px
  margin-top: 23px

.range-slider__app
  position: relative

.range-slider__circle
  position: absolute
  width: 14px
  height: 14px
  border-radius: 10px
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
  border: 2px solid #FFFFFF
  top: -4px
  cursor: pointer

.range-slider__circle-start
  left: 80px

.range-slider__circle-end
  right: 90px

.range-slider__range
  width: 88px
  height: 6px
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
  border-radius: 3px
  position: absolute
  top: 0
  left: 80px
  z-index: -1

.range-slider__info
  color: $accent50
  font-size: 12px
  line-height: 14px
  margin-top: 10px
