.irs
  &-bar
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)

  &-bar
    height: 0.4286rem !important

  &-line
    height: 0.4286rem !important

  &-handle
    width: 1.1429rem !important
    height: 1.1429rem !important
    border-radius: 0.7143rem
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    border: 0.1429rem solid #FFFFFF
    top: inherit !important
    bottom: 0.1429rem !important
    cursor: pointer !important
    z-index: 1 !important

  &--flat &-handle > i:first-child
    background: none !important

  &--flat &-line
    background-color: #fff !important
    border: 0.0714rem solid $accent25

  &--flat
    height: 38px !important

.range-slider
  position: relative

  &__info
    color: $accent50
    font-size: 0.8571rem
    line-height: 1rem
    margin-top: 0.4286rem

