@import "../../sass/index";

.datepicker-inline {
  .datepicker {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.5143rem;
    background: #fff;
    border: 0.0714rem solid $accent25;
    box-sizing: border-box;
    box-shadow: 0 0.7143rem 1.4286rem $accent5;
    border-radius: 0.2857rem;
    z-index: 999;

    &--buttons {
      border-top: 0;
      padding: 0;
      margin-top: 1.4286rem;
    }

    &--button {
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      text-transform: uppercase;
      font-family: montserrat-example, sans-serif;
      font-weight: 700;
      color: $accent50;
      height: auto;

      &[data-action='today'] {
        color: $purple;
      }

      &:hover {
        color: lighten($purple, 10%);
        background: 0;
      }
    }

    &--days {
      &-names {
        margin-top: 0;
      }
    }

    &--nav {
      border-bottom: 0;
      padding: 0;
      margin-bottom: 2.1429rem;

      &-title {
        font-family: montserrat-example, sans-serif;
        font-weight: 700;
        font-size: 1.3571rem;
        line-height: 1.7143rem;
        color: $accent;

        i {
          color: inherit;
        }
      }
    }

    &--day {
      &-name {
        color: $purple;
        font-family: 'montserrat-example', sans-serif;
        font-weight: bold;
        text-transform: none;
        margin: 0;
        height: 2.8571rem;
      }
    }

    &--cell {
      &-day {
        font-family: montserrat-example, sans-serif;
        height: 2.8571rem;
        border-radius: 50%;
        font-size: 0.8571rem;
        color: $accent50;

        @media screen and (max-width: 28.9286rem) {
          height: 2.5714rem;
        }

        &.-current- {
          color: white;
          font-weight: bold;
          background: linear-gradient(180deg, $green 0%, #66d2ea 100%);
        }

        &.-selected- {
          font-weight: bold;
          background: linear-gradient(180deg, $purple, $blue);
          color: white;
        }

        &.-other-month- {
          color: $accent25;
        }

        &.-range-from-::after,
        &.-range-to-::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background: linear-gradient(180deg, $green25, rgba(139, 164, 249, 0.25));
          z-index: -1;
        }

        &.-range {
          &-from- {
            border: 0;

            &::after {
              border-radius: 50% 0 0 50%;
            }
          }
          &-to- {
            border: 0;

            &::after {
              border-radius: 0 50% 50% 0;
            }
          }
        }

        &.-in-range- {
          background: linear-gradient(180deg, $green25, rgba(139, 164, 249, 0.25));

          color: $accent50;
          border-radius: 0;
        }
      }
    }
  }
}

.js-calendar {
  &__arrow-date {
    position: relative;

    &::after {
      content: url('../footer/img/arrow_forward.svg');
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &-prev::after {
      transform: translate(-50%, -55%) rotate(180deg);
    }
    &-next::after {
      transform: translate(-50%, -45%);
    }
  }
}
